[2015-02-02 11:50] petersnoopy opened #1 "sticky headers"
A nice feature would be to able to integrate section headers in your recyclerview.

[2015-02-02 16:54] h6ah4i commented on #1
Hi. Thanks for your suggestion.

I thinks this [timehop/sticky-headers-recyclerview](https://github.com/timehop/sticky-headers-recyclerview) library will work with this library. I'll test them later.

[2015-02-02 17:35] jpshelley commented on #1
@petersnoopy I would agree with @h6ah4i timehops lib works well, and its modular enough that you could use both in conjunction

[2015-02-02 17:53] jpshelley opened #2 "Play Store Video"
Not a very big deal, but the play store video when viewed from a Mobile Device (Web is fine) looks like this and the entire screen is cut off. Play store plays all videos in landscape I believe.
- Just thought I'd let you be aware of the issue @h6ah4i
[Using an HTC One M7]

![screenshot_2015-02-02-11-49-20](https://cloud.githubusercontent.com/assets/2798846/6005680/df41c1b0-aad1-11e4-9922-fd3326d6

[2015-02-03 05:08] h6ah4i opened #3 "ClassCastException bug"
[Feb. 2, 2015]  I've got a crash report on Developer Console.

- Application version: 0.6
- Android version: Android 5.0
- Device: Nexus 5 (hammerhead)

[code]

[2015-02-03 10:01] h6ah4i commented on #2
Thank you for the issue report.  I made a new demonstration video for v0.6.0 and fixed the issue.

[2015-02-03 10:01] #2 closed

[2015-02-04 23:22] jpshelley opened #4 "SwipeManager"
I believe the SwipeManager when calling attach here:
https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/library/src/main/java/com/h6ah4i/android/widget/advrecyclerview/swipeable/RecyclerViewSwipeManager.java#L138

Then going here:
https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/library/src/main/java/com/h6ah4i/android/widget/advrecyclerview/utils/WrapperAdapterUt

[2015-02-05 01:57] h6ah4i commented on #4
I’m afraid that you are trying to attach **non wrapped adapter** instance to SwipeManager.

The initialization order should be:

[code]

[2015-02-05 02:21] jpshelley commented on #4
@h6ah4i I'll give it another shot although I thought I did that. After attempting to implement it the first time, it seems really confusing, and the fact that there is a linear dependency for the swipeManager isn't the best idea. If you have ideas on making it simpler/easier to use I'd be happy to help. (I'll comment back here once I get it working.)

[2015-02-06 19:39] jpshelley commented on #4
You're right simple mistake. (Although making the library easier more modular might help with that issue!)

[2015-02-06 19:39] #4 closed

[2015-02-09 09:09] soapsign opened #5 "Repeated animation problem"
After Drag&Drop the dragged cell restores to original position and starts the translation animation again to its dropped position. How can I fix this? Thank a lot.

[2015-02-09 14:58] h6ah4i commented on #5
Hi. Could you provide some example code to reproduce the issue?

[2015-02-09 15:47] jonathanewerner opened #6 ""settle back into place" animation on drag end"
it would be nice to have a animation of the dragged element back into it's old place or into its new place on drag end. (they way it happens in the Play Music app right now). do you plan on implementing this feature?
thanks for the great library!

[2015-02-09 21:07] jpshelley opened #7 "Issues with stable ids"
Such as when the source is a dynamic amount of information. (Potentially 10-50 items depending on the data passed)

[2015-02-10 02:53] h6ah4i commented on #6
Thank you for your suggestion. I'll give it a try :)

[2015-02-10 04:18] h6ah4i commented on #7
Hi. This library requires stable IDs (`setHasStableIds(true)`) to the distinguish dragged/swiped target item. I think it's not an critical issue, because it's possible to assign non-overlapped identifiable number for each item of dynamic data source.

[2015-02-10 14:53] h6ah4i commented on #6
Implemented in 0.6.1.

[2015-02-10 14:53] #6 closed

[2015-02-11 08:23] petersnoopy commented on #1
Thanks, i will try your forked project...

[2015-02-12 05:10] soapsign commented on #5
I found the problem, its about the getItemId not returning stable ID.
Does this library required stable id adapter to work?
Its not mentioned in any documentation.

[2015-02-12 16:38] h6ah4i commented on #5
Yes, this library requires stable ID. If the getItemId() method is not implemented properly, will causes exceptions or will animates incorrectly. Sorry for the inconvenience, I'll improve the documentations as soon as possible :sweat:

[2015-02-17 10:37] FedericoOldrini opened #8 "[DOC] build.gradle config"
In "Getting started" is missing the jcentral() repository
[code]

[2015-02-18 00:22] h6ah4i commented on #8
Hi. Thanks for your suggestion. I think we can omit the `repositories { jcenter() }` call in build.gradle of the individual modules, because the project top-level build.gradle file has already include the jCenter repository by default. What do you think about it?

[code]

[2015-02-18 11:21] FedericoOldrini commented on #8
Are you sure? I have only mavenCentral in my top level build.gradle

[2015-02-18 11:44] h6ah4i commented on #8
Yes. According to the following web site, it was changed since Android Studio version 0.8.0. I guess you are using old template based top level build.gradle.

https://code.google.com/p/android/issues/detail?id=72061

[2015-02-21 23:29] jonathanewerner opened #9 "feature: hook to determine if item can be moved"
i do not think this is possible right now, but it would be great to have. :) i have the use case of section headers.
the list looks like:
SECTION A
list item 1 type a
list item 2 type a
list item 3 type a
SECTION B
list item 1 type b
list item 2 type b
list item 3 type b

i want only the list items of type a to be drag-sortable.
right now it is for example possible to drag list item 1 (type a) *ab

[2015-02-21 23:51] egor-n commented on #9
Just return `REACTION_CAN_NOT_SWIPE_BOTH` in `onGetSwipeReactionType` for your sections.

[2015-02-22 00:02] jonathanewerner commented on #9
this works if i try to drag the caption item itself -- but it doesn't disallow a position exchange with another item if i start the dragging from that one.

[2015-02-22 03:14] h6ah4i commented on #9
Hi. Thanks for your the report. Current version (0.6.1) does not support such feature, so I'll implement that in next version.

[2015-02-22 11:34] h6ah4i commented on #9
@jonathanewerner I've finished to implement the configurable drag-sortable range feature and pushed to the [develop branch](https://github.com/h6ah4i/android-advancedrecyclerview/tree/develop).

Please refer to the newly added two examples, if you have any troubles, let me know ;)

[2015-02-22 11:43] #8 closed

[2015-02-22 17:15] jonathanewerner commented on #9
this looks straightforward. :) basically just implement onGetItemDraggableRange and i'm done right? great work, and so fast again. where can i buy you a virtual beer? :)
looking forward integrating this in my [app](https://github.com/jonathanewerner/leadsheets). (which i just pushed to github the first time, btw. :)

[2015-02-22 18:22] h6ah4i commented on #9
Yes, that's all :beer:

P.S. I've just submit small PRs on your app.

[2015-02-23 07:55] h6ah4i commented on #9
This feature has been included v0.6.2.

[2015-02-23 07:55] #9 closed

[2015-02-23 19:29] jonathanewerner commented on #9
implementation took about 2 minutes. awesome.

[2015-02-26 16:27] mazurio opened #10 "onMoveItem() crash?"
Hi,
We got this crash report couple of times in last few weeks since we moved to Advanced Recycler View.

https://gist.github.com/mazurio/ce9b2b3cc4d95a7c710b

We are currently using stable ids and also each id is unique by random number so it shouldn't crash, the crash happened when there were two items and I started dragging it back and forth.

Any ideas? I haven't updated the library yet to the

[2015-02-26 17:21] mazurio commented on #10
Upgraded to 0.6.2 to see if anything has changed.

[2015-02-27 05:46] h6ah4i commented on #10
Hi Damian,
Thank you for your report. I'll try to reproduce and fix this issue, so I want ask you more detail of the situation.

1. Do you use any other Advanced RecyclerView features (swipe, expand) or other third party libraries?
2. What is the version of  Android OS?

Thanks

[2015-02-27 14:31] mazurio commented on #10
Hello,

For the advanced recycler view features we use swiping and dragging, no other third party libraries in the same codebase but we use another listener for clicking. I cannot reproduce it often because it happens on different platforms (4.0 and 5.0), so far it happened twice.

I will also message you on Monday with the project that is using Advanced Recycler View to update the GitHub page.

T

[2015-03-03 14:21] h6ah4i commented on #10
Hi Damian,
Any update on this issue?

[2015-03-03 15:44] mazurio commented on #10
I think so far, there was no crashes but I have also moved to different project so can't update for now until it's released. I will update if I know anything more, I think it's safe to close for now?

[2015-03-03 16:04] h6ah4i commented on #10
Thanks for your response. Okay, I think it should be better to close this issue for now and please re-open this issue if needed.

Could you close this issue yourself in order to keep re-opeanable?

ref.) http://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github

[2015-03-03 16:06] #10 closed

[2015-03-03 16:13] h6ah4i commented on #5
I've added the comments about static ID requirements in the v0.6.2 sample codes.

[2015-03-03 16:13] #5 closed

[2015-03-03 16:14] #7 closed

[2015-03-05 15:22] jkwiecien opened #11 "Force expand/colapse"
I wish I could expand/collapse group programatically without allowing user to do that. Is that possible in current implementation?

I think it would be possible if you make ExpandableRecyclerViewWrapperAdapter public :)

[2015-03-05 22:32] h6ah4i commented on #11
Hi @jkwiecien,

Yes, that is possible to implement in current implementation. Please use these methods;

- `RecyclerViewExpandableItemManager.expandGroup(int groupPosition)`
- `RecyclerViewExpandableItemManager.collapseGroup(int groupPosition)`

FYI: If you don't want to expand/collapse a group when touching the item, please implement the `onCheckCanExpandOrCollapseGroup()` method always returns f

[2015-03-06 07:59] jkwiecien commented on #11
Thanks! :)

[2015-03-09 15:42] h6ah4i commented on #3
[Mar. 6, 2015] I've got the same crash report again.

Application version: **0.6.2**
Android version: Android 5.0
Device: Nexus 5 (hammerhead)
User message: **While dragging.**

[code]

[2015-03-18 09:38] slidenerd opened #12 "Things that would truly make your library awesome"
Hi, I used 2 libraries before switching to yours, one was called the UltimateRecyclerView, and the other one was SuperRecyclerView, I wont be getting into the specifics of what bugs they had and made me jump here but here s what I am trying to accomplish

1)SwipeRefreshLayout functionality at the top
2)A load more at the bottom [infinite scrolling]
3)Expandable items
4)Swipe to dismiss where an it

[2015-03-18 12:43] h6ah4i commented on #12
Hi @islidenerd,
Thanks for your question. I'll try to make a sample code in this weekend :)

[2015-03-19 10:17] h3clikejava opened #13 "Can't set child item draggable range in children group"
onGetChildItemDraggableRange() method only set child drag range in group session.But can't set range in itself session.Because I have a child item at last index, i need it can't draggable.
I can override onMoveChildItem() method when drag in a session.but when i drag it cross other session group,It's will crash.It's always move it.....Help me

[2015-03-19 16:02] h6ah4i commented on #13
Hi. I've just pushed the update to the `develop` branch (https://github.com/h6ah4i/android-advancedrecyclerview/commit/7c48e0caa366339e1e191533c4cb1a8eead940a0).
The new `ChildPositionItemDraggableRange` class will helps you :) Please refer to the updated example code.

[2015-03-23 02:08] h3clikejava opened #14 "There are several children view in a group,It's will expansion too slow."
If there are several children item in a group, these will expansion too slow.How to fix it?(Only 8~12 children view, use Samsung Note2)

[2015-03-23 15:08] h6ah4i commented on #3
@h6ah4i Remind: This issue can be easily reprodeced when manipulating the Expabdable + Swipeable + Draggable example.

[2015-03-23 15:09] #11 closed

[2015-03-23 15:34] h6ah4i commented on #12
@islidenerd Sorry, I have not implemented the sample code yet because it was too busy. I think these no. 1-5 features can be implemented without modifying this library.

[2015-03-26 10:29] FedericoOldrini opened #15 "NPE"
[code]

[2015-03-31 08:19] marcochin opened #16 "Selector for state_pressed="true" is slow!"
I've only tried it with the expandable recycler view, but the pressed state for a group item doesn't register unless you hold it for like 1 sec, which is basically a long pressed click.

edit: I'm thinking this might be a feature actually..as this prevents group items from highlighting unnecessarily every time you are trying to scroll.

[2015-04-04 03:16] #16 closed

[2015-04-06 08:13] k-tigre opened #17 "Crash if AbstractExpandableItemAdapter return always GroupId=0"
My adapter extend AbstractExpandableItemAdapter.
When

@Override
    public long getGroupId(int position) {
        return position;
    }
Its work ok.

When
@Override
    public long getGroupId(int position) {
        return 0;
    }
I have crash:

 java.lang.IndexOutOfBoundsException: Inconsistency detected. Invalid item position 16(offset:-1).state:20
            at android.support.v7.widget.Re

[2015-04-07 10:05] tuannd2011 opened #18 "onlick child item?"
Can you support onlick child item? ( not swip )
Demo: click one row then make a toast return position item

[2015-04-11 10:09] intrications opened #19 "Only have one group expanded at a time"
Is there a way to automatically close all the other groups when one is expanded?

[2015-04-11 12:23] jjhesk opened #20 "parallax background feature"
does it have any feature that i can do parallax background while it item is scolling?

[2015-04-13 01:55] tunjid opened #21 "Using CardView as Layout Parent for Swipeable item adapter causes ClassCastException"
Thanks for your library, it's fantastic! There's however a ClassCastException when a CardView is used as the parent layout for the swipeable item adapter. Full log output and layout xml follow.
[code]

[code]

[2015-04-13 02:59] tunjid commented on #21
After digging around, I see this has to do with CardView not having an API to set backgrounds with xml and the android.support.v7.widget.RoundRectDrawableWithShadow class has protected access.

I've fallen back to using a LinearLayout with a 9 patch image for the shadow.

[2015-04-13 02:59] #21 closed

[2015-04-13 22:51] h6ah4i commented on #17
You have to provide valid identical number for each child items. Because this library depends on stable IDs.

[2015-04-13 23:00] h6ah4i commented on #18
Thanks for your suggestion. I'll improve the sample code later.

FYI: You can implement it by the following steps;
1. set `View.OnClickListener` for each item views (ViewHolder.itemView)
2. In `onClick()` method, obtain flat item position by using `ViewHolder.getLayoutPosition()`
3. Convert to group and child item positions by using `getExpandablePosition()`, `getPackedPositionGroup()` and `getPac

[2015-04-13 23:03] h6ah4i commented on #19
That is possible. You can use these methods to control the behavior when clicked the group item.

ref.) Force expand/colapse #11

[2015-04-13 23:07] h6ah4i commented on #14
Sorry for the very late reply. I have not noticed the issue on my devices. Can you see the same issue when using the demo app running on Samsung Note 2?

Demo app:
- https://play.google.com/store/apps/details?id=com.h6ah4i.android.example.advrecyclerview

[2015-04-13 23:27] h6ah4i commented on #20
Hi. Do you mean the feature like the SoundCloud app? (https://www.youtube.com/watch?v=bfOuWpPkA6Q)

Sorry, this library does not have such feature for now but it seems not difficult because `RecyclerView` provides enough features to handle that.

Solution 1:
 - Use `RecyclerView.ItemDecoration` + custom item view

Solution 2:
- Use `RecyclerView.OnScrollListener` + custom item view

[2015-04-14 07:52] huteri opened #22 "Position Changing Between List Item"
Hi, I have problem implementing expandable list with fixed recyclerview. Please see the video https://www.youtube.com/watch?v=fkcmtkZz3zo

The way I do it is to resize recyclerview and recalculate the height based on how much item is expanded.
Do you think it's possible to fix this issue?

[2015-04-14 14:08] h6ah4i commented on #22
Hi. Have you implemented the getGroupId() and getChildId() methods properly that return stable IDs?

[2015-04-15 09:02] mars3142 opened #23 "overscrolling effect"
The overscroll effect is shown too early. The item is not at the top at this moment.

![draggable_recyclerview](https://cloud.githubusercontent.com/assets/220423/7155386/972dd7d6-e35e-11e4-920f-eb3d0b081e2c.png)

[2015-04-15 13:01] huteri commented on #22
Ah thanks, it's because I set the ids with random number.

[2015-04-15 13:01] #22 closed

[2015-04-15 22:56] h6ah4i commented on #22
:beer:

[2015-04-20 00:05] guidedways commented on #1
This would be awesome to have! It would be even great if the 'Grouped' sections could in fact be sticky (the ones enclosing child items).

[2015-04-20 00:35] guidedways opened #24 "Documentation"
Hi

For those noobs / newcomers, it would be great to have some nice documentation please. A tutorial, if you like. We could go through each class and understand it, but the 'table' on the main screen does not help. There's far too much going on and it would be great to learn how to 'add new features' on top of this recycler view, as it seems quite generic at the moment. Like for example, if we we

[2015-04-20 18:13] gandulf commented on #24
hi, I already tried and more or less succeeded in adding (multi)selection to the project look at my fork for it. once it's cleanedu and reviewed i'll create a pull request...
https://github.com/gandulf/android-advancedrecyclerview

[2015-04-21 00:01] guidedways commented on #24
Thanks gandulf - I saw that and actually been looking at the code (seems to work!). I did however find that I could in theory get the sections to collapse as well, but there's just so little comments / documentation that it's difficult to navigate around. Would be great if someone familiar with the code writes some sort of a document explaining how it all works.

[2015-04-21 02:12] daimajia commented on #24
+1
Really need wiki support for newcomers.

[2015-04-24 20:53] fadelakin commented on #24
Does anyone know how to include this is in a project because I'm completely lost.

[2015-04-25 01:53] daimajia commented on #24
@fadelakin Carefully check the samples, you may get some clue.

[2015-04-25 03:20] fadelakin commented on #24
@daimajia I did but for the expandable list which is what I want, he uses a host of different classes to piece everything together but I'll keep looking.

[2015-04-26 02:37] fadelakin opened #25 "Implementation"
Hi,

I'm looking to add this library into my project but I'm at a loss as to where to start. The sample code is way to much for me to go through. I have two array lists (one for the group, one for the child) and I think I've figured out how to add it in but nothing works. In the sample for expandable, @h6ah4i uses an abstract class to insert the data, id and everything. They used AbstractExpandabl

[2015-04-26 08:55] h6ah4i commented on #23
Thanks for the report. I will tweak the threshold whether to draw edge effects.

[2015-04-26 15:26] tunjid commented on #25
Hi dude! I'll be glad to help you out. What do you need help with exactly?

You don't need to extend his provider class, a simple ArrayList works fine for the library. I'll write up a simple adapter class that uses an ArrayList, add a couple of comments, create a gist and update this comment with a link to it in a bit.

[2015-04-26 15:28] guidedways commented on #25
I'm actually having the exact same issue - it's not just about using an ArrayList. For example, I'd love to reproduce a Grouped hierarchy the way the author has, however the demo app has zero comments, explanation, documentation etc and it's a maze to go around understanding what's happening. Some sort of a thorough tutorial would be super!

[2015-04-26 15:29] guidedways commented on #24
Looking through the examples is tough. It's a puzzle in there and really what's needed is some good tutorial / documentation. This is a fantastic piece of code but very difficult to grasp.

[2015-04-26 18:51] tunjid commented on #24
Alright, I'm done with the sample. Pushing now.

[2015-04-26 19:23] fadelakin commented on #25
@tunjid Thanks for the help. I'll check your sample project. What I was originally trying to do was have a list of items. When a list item in that list is tapped, an inner list would be displayed in the expanded view. When an inner list item is tapped, the upper list item would change to reflect the inner item that was selected. What makes my matters even worse is each list item has a different se

[2015-04-27 01:59] tunjid commented on #25
@fadelakin If I'm understanding correctly, You have a List<List<ModelObject>>? Where the inner list should be displayed when the parent list is clicked?

[2015-04-27 02:04] fadelakin commented on #25
@tunjid each list item (the parent list item) has it own set of data for the inner list (inner list contains the child list item). I'll post an image of what I'm trying to do.

[2015-04-27 02:07] fadelakin commented on #25
@tunjid here's a picture of the workflow. you have a list. when a list item in the list is clicked, it reveals an expanded area that contains a list of whatever. when an item in the expanded area is clicked, the list item that was originally clicked is update with the value of the item in the expanded area and it's kept.
![wp_20150426_22_03_07_pro](https://cloud.githubusercontent.com/assets/740514

[2015-04-27 02:31] tunjid commented on #25
I get it now. Looking at the ExpandableAdapter class:

 https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_e/MyExpandableItemAdapter.java

I'd say your best course of action is to use a List of a List to hold your data. If each Object in the parent group are of different instances, let your main list be a list of

[2015-04-27 16:18] LouisCo opened #26 "Tmp detached View recycled before it's removed from RecyclerView causing FATAL EXCEPTION"
I am trying to mimic the Lollipop notifications behavior with your library. I only use the Swipe To Dismiss part, without pinning. The swipe of one item works well, but if I swipe out two items without letting the first item the time to be completely dismissed, my app crash with the stack trace below, without any reference of my own project files inside... I don't know what to do... I checked many

[2015-04-28 07:33] LouisCo commented on #26
I finally found my issue: I was passing the root of my item layout as the container and it seems that your library don't like it and prefers to have a "useless" ViewGroup wrapping each item. If anyone have the same error, look at the examples xml list_items files.
Many thanks for this awesome library

[2015-04-28 07:33] #26 closed

[2015-04-30 18:46] simopete opened #28 "Listener to handle click/touch on group item"
Hi there,
I would like to do some changes with the group item's view when click occured on it.
Because your `RecyclerViewExpandableItemManager` handle the touch on the `RecyclerView` I can't attach `OnClickListener` to my `View`.
I recommend you do a listener which can set up for the manager class with `View` and `MotionEvent` and call it before you return in your `onInterceptTouchEvent` method.

[2015-05-01 00:11] h6ah4i commented on #28
Hi. Sorry for the poor documentation :disappointed:

Try to implement the `onCheckCanExpandOrCollapseGroup()` method always return `false`. It enables `OnClickListener` work as you expected.

Related issue: [#11 Force expand/colapse](https://github.com/h6ah4i/android-advancedrecyclerview/issues/11)

[2015-05-01 09:02] simopete commented on #28
Thanks your answer.
I can do it what I wanted with your suggestion.
Thank you for your work! :+1:

[2015-05-01 09:02] #28 closed

[2015-05-01 22:52] RadicalMonkey opened #29 "Begin drag and drop using OnLongClick"
Is it possible to start dragging when an item has been long clicked? This would be really useful as a lot of users seem to be doing that initially when they want to reorder the list.

Thanks
RM

[2015-05-03 10:33] kuffs opened #30 "Enhancement to Swiping"
I believe it would be more useful to swipe and reveal a predetermined View/ViewGroup rather than a drawable as I think most people implementing this functionality would want to have buttons with click handlers etc displayed after swiping. (See example in the ReadMe image at https://github.com/47deg/android-swipelistview)

I would also prefer a pinned item to leave a small part of itself (or a dedi

[2015-05-03 14:17] intrications commented on #19
Thanks. This is what I had tried but made another mistake in the code which stopped it working properly.

[2015-05-03 14:17] #19 closed

[2015-05-04 12:01] LOG-TAG opened #31 "is there any way to implement expandable indicator (groupIndicator) [question] ?"
I'm looking for easy way to implement expandable indicator (groupIndicator) for this, atleast if we get the methods onexpanded, collapsed we can animate vectordrawables  on the header layout !

or custom options like this will be grateful
android:groupIndicator="@drawable/settings_selector"    like expandablelistview !

[2015-05-04 21:02] psousa50 commented on #18
I think this solution doesn't work because the RecyclerView...Managers consumes the touch events (in onInterceptTouchEvent) and doesn't allow them to reach the child views. Am I wrong?

[2015-05-04 21:24] psousa50 commented on #18
Sorry, I was wrong, my mistake, it works.

[2015-05-05 03:30] LouisAndroid opened #32 "Expandable child view"
Can i change the Expandable Child list to like gallery ~?

[2015-05-07 15:44] NeverGivinUp opened #33 "recyclerview in ScrollView or ViewPager"
Currently, if the RecyclerView is embedded in a ScrollView or ViewPager, there is a race condition with them on dragging/swiping. Sometimes it does drag/swipe, many times it does not. To the user, the app feels broken. I make heavy use of ScrollViews and ViewPagers, so this is an important issue for me.

For drag&drop or swipe to work well in a ScrollView or ViewPager, the touch listeners must cal

[2015-05-07 18:44] JSteveNunez opened #34 "Notify Item Insert/Remove for ExpandableRecyclerView"
How would I notify the adapter that a child item whose parent isn't expanded was removed? Since the parent is not expanded that child item does not have a position. I do not really want to use notifyDataSetChanged() as this is not efficient when i have a large dataSet. I tried notifying the wrappedAdapter but that seems to not work.

[2015-05-10 16:07] h6ah4i commented on #30
Hi. Thanks for your advice. I have just released v0.7.0 and it includes these improvements.

- Added a new demo "Button under swipeable view"
- Fix the behavior of dragging back a pinned item

[2015-05-10 16:07] #30 closed

[2015-05-10 16:09] h6ah4i commented on #29
Hi. I have just released v0.7.0 and it includes a new "Draggable with Long Press" example.

[2015-05-10 16:09] #29 closed

[2015-05-10 16:09] h6ah4i commented on #23
Fixed in 0.7.0.

[2015-05-10 16:09] #23 closed

[2015-05-10 16:12] h6ah4i commented on #13
Fixed in 0.7.0.

Introduced these new classes:

- `ChildPositionItemDraggableRange`
- `GroupPositionItemDraggableRange`

Usage:

[code]

[2015-05-10 16:12] #13 closed

[2015-05-10 16:12] h6ah4i commented on #3
Fixed in v0.7.0.

[2015-05-10 16:12] #3 closed

[2015-05-10 16:13] #17 closed

[2015-05-10 16:13] #18 closed

[2015-05-10 16:19] h6ah4i commented on #31
Hi. Maybe you can use `onBindGroupViewHolder()` method.

[code]

[2015-05-12 13:33] chriswiesner opened #35 "Do not apply ItemAnimator to GroupItems"
Currently i have the issue that i want to rotate the expand/collapse indicator when a GroupItem is pressed.
This animation isn't shown because there is also the default Item animation.
Could you apply this animation just to the child items?

[2015-05-12 21:48] rafaeltoledo opened #36 "Activity declared in Manifest"
I noticed that you have a TestActivity declared in library's manifest. When using the library, the compiler warns about it.

[code]

If it isn't strictly necessary, would be good to remove its declaration to avoid those kind of warnings.

[2015-05-13 00:36] h6ah4i commented on #35
Hi. Try to call `RecyclerView.ItemAnimator. setSupportsChangeAnimations(false)`. Also I have just updated the example code that demonstrates how to add expanded/collapsed status indicators to group items.

See also:
- https://developer.android.com/reference/android/support/v7/widget/RecyclerView.ItemAnimator.html#setSupportsChangeAnimations(boolean)

[2015-05-13 00:40] h6ah4i commented on #31
@LOG-TAG I have just updated the example code. Please see #35 for detail.

[2015-05-13 00:40] #31 closed

[2015-05-13 23:33] ghost opened #37 "Expand item using a Button from within the adapter instead of using the itemView."
I'd like to use a `Button` instead of the `itemView` as the trigger for expanding the group container.

I've read #11 but it requires an instance of `RecyclerViewExpandableItemManager`, which is declared outside of the adapter.

Is there any way to do so from within the adapter?

Your work is great @h6ah4i , thank you very much.

[2015-05-15 14:06] yarKH opened #38 "Can't get it with Gradle"
Failed to resolve: com.h6ah4i.android.widget.advrecyclerview:advrecyclerview:0.7.0

[2015-05-15 14:48] #38 closed

[2015-05-15 14:50] yarKH commented on #38
This helped:
repositories {
    jcenter()
}

[2015-05-16 14:03] marcusforsberg commented on #34
I have the same issue, also when it comes to adding or even updating a child of a hidden group. Any tips?

[2015-05-18 04:55] kdomingo opened #39 "getAdapter results in NPE"
I have an `abstract` method `onPhotoActivityResult` that is called on the execution of `onActivityResult` of the `super` class. In this method, I've called `recyclerView.getAdapter().notifyDataSetChanged()` but it throws out a NPE. I have set the recyclerView's adapter after an AsyncTask-handled task's execution. what went wrong?

[2015-05-18 09:32] mars3142 commented on #37
@ghost I need the same, but I implement a workaround (listener) for this.

[2015-05-19 12:10] pbadia opened #40 "onPerformAfterSwipeReaction() when the swipe animation is actually finished ?"
I have successfully implemented a draggable and swipeable recyclerview and it works great. That's pretty cool. The thing is when I swipe an item I update some data in sqlite database with recursive methods and it takes some time, in which the UI freezes.

I tried to move that code within a Runnable and display a ProgressBar until its done. The container goes off the screen well, then it freezes du

[2015-05-20 06:23] kdomingo opened #41 "Swipe not working if RecyclerView is using a GridLayout"
Is there any way that we can implement it when the layout is a `GridLayout`?

[2015-05-20 09:30] werther-luo opened #42 "How to change the advanced receyclerview to horizontal layout with drag & drop working?"

[2015-05-20 11:39] pbadia commented on #40
Here we go. The structure of the item's layout was the problem. The progress bar was in a separate RelativeLayout. Now that it's in the container layout, it works flawlessly. Nothing to do with the library, really sorry for the inconvenience.

[2015-05-20 11:39] #40 closed

[2015-05-22 05:43] MiniMing-Lee opened #43 "How to grouping drag & drop.."
I have section list...

SECTION 1
  item 1
  item 2
  item 3
SECTION 2
  item 4
  item 5
  item 6

-----------------------------------------------------------------------------

I want SECTION is that do not move...
Is it possible?

SECTION 1
  item 1
  item 2
  **item 4**
SECTION 2
  **item 3**
  item 5
  item 6

### Thank-you for great lib.

[2015-05-22 13:36] h6ah4i commented on #43
Unfortunately this library does not support such behavior :disappointed:

[2015-05-23 08:02] marbat87 opened #44 "Click effect on GroupView"
Hi,

I noticed that when user clicks on a group in order to expand or collapse it, the "click effect" (for example ripple effect) is catched by something and it is not shown.
Instead, while keeping the item pressed, the ripple effect is shown.
This happens both in your example and in my application.

If I change "onCheckCanExpandOrCollapseGroup" in order  to return FALSE, the click effect is shown

[2015-05-24 22:01] h6ah4i commented on #44
Hi. Thanks for your report.

Workaround:

Make `onCheckCanExpandOrCollapseGroup` returns `false` and set `View.onClickLIstener` for each group views. Then you can use these two methods to expand/collapse the group.

- `RecyclerViewExpandableItemManager.expandGroup(int groupPosition)`
- `RecyclerViewExpandableItemManager.collapseGroup(int groupPosition)`

see also.) Force expand/colapse #11

[2015-05-25 10:17] marbat87 commented on #44
Hi,

Thanks for the answer.

I had found that workaround yet.
But unfortunately, using that workaround, when user clicks on the morphing arrow nothing happens, because it has not an "onclick" event and I think it is a bit bothering for user.
Groups expand/collapse only clicking on the group title...

Thanks in advance.

[2015-05-25 13:04] thegeett commented on #37
I had same issue, what I did is just passed mRecyclerViewExpandableItemManager object in Adapter's constructor.

[2015-05-25 13:07] h6ah4i commented on #44
Found a workaround.

[code]

[2015-05-26 06:40] #43 closed

[2015-05-26 07:39] marbat87 commented on #44
Do you mean in the standard implementation or in the one with the workaround?

[2015-05-28 23:45] h6ah4i commented on #44
Just a workaround for now. Because it seems like a bug of MorphButton class. MorphButton consumes touch event even if `android:enable="false"` and/or `android:clickable="false"` specified in xml.

[2015-05-29 03:31] fedeamura commented on #41
+1, i really want use dragsort with GridLayout or StaggerredLayout

[2015-05-31 20:57] freezy commented on #24
Seriously, this project needs documentation. The sample code is 90% irrelevant, picking out what's necessary and what not is just frustrating.

[2015-05-31 21:12] freezy opened #45 "How to swipe?"
It just doesn't swipe. It displays, scrolls and everything, but items just stay at the same place when trying to swipe them horizontally. Here's what I did:

- Wrapped my adapter using `RecyclerViewSwipeManager#createWrappedAdapter()`
- Attached my recycler using `RecyclerViewSwipeManager#attachRecyclerView()`
- Used `SwipeDismissItemAnimator` as animator
- Made my adapter implement `SwipeableItem

[2015-06-01 08:32] kdomingo opened #46 "ARV doesn't work with SDK 11"
I've set the app's `minSdkVersion` to 11, which is Honeycomb/3.0. the childView isn't showing at all, and the layout gets distorted.

[2015-06-01 09:43] ooosv opened #47 "No remove animation for expandable recycler view even if the ItemAnimator is set."
I'm using advancedrecyclerview + recyclerview-animators, and when I expand each group item the add animation works fine, but when I collapse the group item I cannot see any animation and the group is collapsed instantly.

In your opinion, what is the problem?

Thanks!

[2015-06-02 09:57] Liliniser commented on #45
[code]

[2015-06-02 10:05] freezy commented on #45
Returning always `RecyclerViewSwipeManager.REACTION_CAN_SWIPE_BOTH`, like in your code above.

[2015-06-02 11:18] egor-n commented on #45
Your adapter should have stable ids:

    setHasStableIds(true);

[2015-06-02 11:53] jgwiazdowski opened #48 "Swiping twice same item"
Hi,

is it possible with this library to swipe twice same item in the same direction?
normally when you swipe you can set item as pinned or simply remove item.

Thanks!

[2015-06-02 15:57] Liliniser opened #49 "I want to save a pinned item id so that I can set the item pinned later automatically."
1. Set an item pinned by swiping left.
2. Save that pinned item's id somewhere (probably SharedPreferences) from onItemPinned(int position) callback.
3. Turn the application off.
4. Turn it back again.
5. At this moment, I want the pinned item be pinned without my touch.

What should I do?

[2015-06-02 16:00] slarin opened #50 "CPU usage 30-40% while Idle"
Great Library, but CPU usage 30-40% while Idle

[2015-06-03 01:57] Liliniser commented on #49
Nevermind, solved myself. Just called this

[code]

Thanks for the great awesome library!

[2015-06-03 01:57] #49 closed

[2015-06-03 10:01] nemanja87ns opened #51 "Unnecessary call of onCreateGroupViewHolder()"
Hi,

I noticed a problem of unnecessary calling of onCreateGroupViewHolder() method after group item is clicked. This represents badly because in onCheckCanExpandOrCollapseGroup() method I check the expand parameter based on which I set expand or collapse arrow image.

Expand arrow is set by default in the layout and this is a sequence which happens to me:
- I click on group item
- in the onCheckC

[2015-06-03 11:48] h6ah4i commented on #51
Maybe the cause is the same as #35. Try  to add `setSupportsChangeAnimations(false)`.

[2015-06-03 12:08] freezy commented on #45
@Liliniser: That was the missing piece. Thanks a lot, you've saved the day! :)

[2015-06-03 12:08] #45 closed

[2015-06-04 07:33] nemanja87ns commented on #51
Yes, after adding setSupportsChangeAnimations(false) I no longer have this issue.

Is this a temporary fix and do I have some limitations in the future because of it?

[2015-06-04 13:40] h6ah4i commented on #51
I suppose it is not a temporary fix and it will also required in the feature. Calling setSupportsChangeAnimations(false) just enables legacy behavior same as until recyclerview-v21, and this library requires the legacy behavior for now.

The limitation is... you can't use *item change animations* at all!

[2015-06-04 22:52] h6ah4i commented on #50
Can't reproduce. Could you upload sample code or something else? I will take a look later :)

[2015-06-05 07:45] nemanja87ns commented on #51
Thanks!

[2015-06-05 12:22] #51 closed

[2015-06-07 13:43] Ovadia-B opened #52 "Using with CoordinatorLayout"
I'm trying to use the new CoordinatorLayout and have some bugs,
The views nested within AppBarLayout are turning invisible when i do any action on the list (swiping) and then try to scroll out and then back in.

![screenshot_2015-06-07-16-40-14](https://cloud.githubusercontent.com/assets/10329013/8024211/29eb3a4c-0d34-11e5-9b7d-acbcd0cb4979.png)
![screenshot_2015-06-07-16-40-26](https://cloud.gith

[2015-06-07 14:27] Ovadia-B commented on #52
Tested without the AdvancedRecyclerView and it still occur..

[2015-06-07 14:27] #52 closed

[2015-06-12 04:07] slarin commented on #50
I use Android Studio 1.3 Preview 3
Open CPU tab in Android Studio
![cpu usage](https://cloud.githubusercontent.com/assets/11872389/8123389/fb4e76f2-10fa-11e5-9a1d-41fdaaf4895e.jpg)

[2015-06-12 10:17] MoizAli opened #53 "Wrap_content does not work with recycler view."
I have looked at length at this issue and its a general problem with the layoutmanager. But the linearlayout manager in this link at least wraps the content:
http://stackoverflow.com/a/28303955/1182140

But then it assumes that there are no child elements. Has anyone else faced this problem?

[2015-06-12 19:19] Kuci commented on #44
Why do you intercept touch here: [RecyclerViewExpandableItemManager.java#L242-L244](https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/library/src/main/java/com/h6ah4i/android/widget/advrecyclerview/expandable/RecyclerViewExpandableItemManager.java#L242-L244) I think you should not do that and I think it's root of the problem.

[2015-06-14 02:57] aizhunimei opened #54 "ClassCastException, MyPlatformChildViewHolder cannot be MyPlatformGroupViewHolder"
i click my child view ,then carsh. I don't know what happen,  Does anyone know it , thank you!

06-14 10:51:43.827  27849-27849/com.ypwl_p2phelper E/InputEventReceiver﹕ Exception dispatching input event.
06-14 10:51:43.828  27849-27849/com.ypwl_p2phelper E/MessageQueue-JNI﹕ Exception in MessageQueue callback: handleReceiveCallback
06-14 10:51:43.843  27849-27849/com.ypwl_p2phelper E/MessageQueue-J

[2015-06-14 06:32] fedeamura commented on #33
Use long click to enable the drag sort.

[2015-06-15 14:25] NammariMarkavip opened #56 "verison 0.7.1 can't resolve Class RecyclerViewDragDropManager"
I just include this library as a dependency in my project  using

dependencies {
    compile fileTree(dir: 'libs', include: ['*.jar'])
    compile 'com.android.support:appcompat-v7:22.2.0'
    compile 'com.android.support:recyclerview-v7:22.2.0'
    compile 'com.h6ah4i.android.widget.advrecyclerview:advrecyclerview:0.7.1'
}

but i can't use any class inside the library .

[2015-06-15 16:01] NammariMarkavip commented on #56
I end up with downloading master repo and include the library as aar  . fix this please

[2015-06-15 16:42] NammariMarkavip commented on #56
Android studio Bug

[2015-06-15 20:50] falsevapor opened #57 "How to add groups "expanded" right away?"
Default behavior is of course that groups are added collapsed to the view. How would I force it to add them "expanded" from the beginning? Tried to play with expanded flags with not results.
Please help.

[2015-06-15 23:24] h6ah4i commented on #50
Thanks! I have just turned out which is the culprit. It will be fixed in the next release.

[2015-06-16 14:29] falsevapor commented on #57
Sorry for being such a noob. I understand there's expandGroup and collapseGroup methods but when to call those? Seems natural that the onBindGroupViewHolder would be a wrong place for that. Is there some other event/moment I can do that?

[2015-06-16 15:42] h6ah4i commented on #57
After calling the `RecyclerViewExpandableItemManager.attachRecyclerView()` method would be the best place.

https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_e/RecyclerListViewFragment.java#L98

[2015-06-16 16:00] falsevapor commented on #57
LOL, well that worked! Thank you!

[2015-06-16 16:00] #57 closed

[2015-06-16 16:15] h6ah4i commented on #44
@Kuci Thanks for your advice! I'll fix this issue tomorrow.

[2015-06-16 16:33] #36 closed

[2015-06-17 03:25] ayltai opened #58 "Potential bug in SwipeableItemWrapperAdapter"
First of all, thank you for making this great library! It is powerful and easy to use.

I spot something strange in the code. In `SwipeableItemWrapperAdapter.onBindViewHolder()`, both lines 98 and 116 check for `holder instanceof SwipeableItemViewHolder` and assign `prevSwipeItemSlideAmount` and `swipeItemSlideAmount` to the same value `getSwipeItemSlideAmount()`, and then check for `prevSwipeItem

[2015-06-17 08:57] jdourlens commented on #42
Does anyone has a clue?

[2015-06-17 14:44] h6ah4i commented on #58
Hi @ayltai. That is not a bug. The `SwipeableItemViewHolder.setSwipeItemSlideAmount()` function may be invoked during the `super.onBindViewHolder()` function*, so `prevSwipeItemSlideAmount` and `swipeItemSlideAmount` could be different.

*for instance:
- https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_s/MySwip

[2015-06-17 14:51] ayltai commented on #58
True. Thank you for the clarification.

[2015-06-17 14:51] #58 closed

[2015-06-17 20:48] Kuci commented on #44
I confirm the bug is fixed in the latest version. Thank you.

[2015-06-18 06:00] kuffs opened #59 "Having a problem with dragging between sections."
I wish the user to be able to drag between sections but I am unable to get it to work how I expect.

I have amended the example code to reproduce my issue:

https://github.com/kuffs/android-advancedrecyclerview/commit/bc0119419229a22ec07dcb06b938504326cb8a02

Rather than throw an exception if the user drags to a section, I am attempting to just cancel the drop operation. However, the item being dr

[2015-06-19 11:25] Kuci opened #60 "Scroll to the last child if it is offscreen"
When you expand a group and its last child is not visible, RecyclerView should scroll to the last child to make it visible, exactly as ExpandableListView does it.

[2015-06-19 15:10] sergeyfitis opened #61 "Expand animation"
Hi. Is it possible to change expand group animation?

[2015-06-22 05:30] fahimk opened #62 "Ability to swipe back after pinning"
After pinning an item with a swipe action, it's possible to bring the item back by swiping in the opposite direction. Would be nice to have an option to disable this.

[2015-06-22 16:49] sergeyfitis opened #63 "Can not refresh expandable adapter"
Hi. How correctly to refresh expandable adapter when count of group's children has changed?
Because when I do notifyDataSetChanged it updates only groups but not group's children.

[2015-06-23 19:22] falsevapor opened #64 "After swipe/remove of a group crash in some cases"
Hi. Trying to debug an issue where in some configurations the app crashes when a group item removed after swipe. In most cases it seems to work fine but in certain sets of data it seems to crash every time. It's very frustrating. It doesn't seem to happen with the sample.
I understand that the lib needs stable IDs. I have those.
In debugger I see that during onPerformAfterSwipeGroupReaction of MyA

[2015-06-24 07:31] leapfrog-santosh opened #65 "Is there any way to detect drag start and drag end"
First of all awesome library, great great work. I am using `RecylerView` with `SwipeRefreshLayout`.So when drag is initiated, I need to disable `SwipeRefreshLayout` and when drag is stopped I need to enable `SwipeRefreshLayout`. Right now the only option I have is to add listeners inside `RecyclerViewDragDropManager`. Apart from that is there any built in function to access that.
Thanks

[2015-06-24 12:23] #50 closed

[2015-06-24 13:33] h6ah4i commented on #61
Yes. You can achieve that by impleumenting your own `RecyclerView.ItemAnimator` class. (However, the concept of *item grouping* is not exist at the ItemAnimator's level.)

[2015-06-24 14:55] falsevapor commented on #64
More info.
I was able:
1. to simplify scenario an identify better
2. reproduce in the original sample application: demo_eds

So. Easiest way to reproduce: 2 groups, first group collapsed (or has no children), second group expanded (!), swipe away the first group -> app ends.

More general identification/definition of the problem (!):
If last group is expanded when swiping away any previous collaps

[2015-06-24 15:41] falsevapor commented on #64
And lastly the "Advanced RecyclerView Examples" unchanged app installed directly from play store also experiences the problem:
1. start the app
2. open "Expandable + Draggable + Swipeable"
3. scroll to the last group ("Z")
4. tap to expand
5. swipe away any previous group (such as "Y" or "X" etc..) that is currently visible (!) (don't scroll up!)
6. app quits

[2015-06-25 05:22] soapsign opened #66 "Upgrade to com.android.support:recyclerview-v7:22.2.0"
The 22.2 library introduced an abstract OnRequestDisallowInterceptTouchEvent() on RecyclerView.OnItemTouchListener that crashing the app as https://github.com/h6ah4i/android-advancedrecyclerview/search?utf8=%E2%9C%93&q=OnItemTouchListener these OnItemTouchListener has not override the new method.

[2015-06-25 09:14] h6ah4i commented on #66
Thanks for the report. This issue has been solved in v0.7.2 (latest version), but I forgot to update the instruction written in the README page;

[code]

[2015-06-26 09:18] hzsweers opened #67 "GridLayoutManager support"
Currently drag and drop only supports linear layout manager in the sense that it can only drag up and down.

[2015-06-26 11:45] siraj94farhan opened #68 "There is an issue while expanding group item with recyclerview-v7:22.2.0... when there are more than one viewtype it looks like kind of some instability. please fix it as soon as possible."

[2015-06-28 04:42] #35 closed

[2015-06-28 04:43] #66 closed

[2015-06-28 04:43] #56 closed

[2015-07-05 13:34] LouisCAD opened #69 "Dispatch events to parent when can't swipe to a direction"
Hi!
I am using your app with a ViewPager, and I would like to swipe the viewpager to the left, and swipe to dismiss list items to the right, but currently, both touch events are consumed. Although that the item isn't swiped to the left (because I set it to not), the ViewPager doesn't respond to swipe events. Could you fix this please?
Thanks.
All the best

[2015-07-06 15:40] tikimcfee commented on #65
Hey there!

Just wanted to add to this if possible. We could also greatly use a 'swipeDidStart()' and 'swipeDidFinish()' set of callbacks as well - some sort of Listener interface.

As it stands, the callback flow of swipe interactions and when you'll actually get this is extremely complicate and hard to integrate with long press / tap events that are internal to the library. This would greatly he

[2015-07-07 19:16] hrox opened #70 "Remove empty group after moving child item"
Hi, thanks for developing this awesome library. I want to automatically remove empty groups. Using the code of demo_eds I tried the following in MyExpandableDraggableSwipeableItemAdapter:

    @Override
    public void onMoveChildItem(int fromGroupPosition, int fromChildPosition, int toGroupPosition, int toChildPosition) {
        mProvider.moveChildItem(fromGroupPosition, fromChildPosition, toGro

[2015-07-16 10:21] indiandragon commented on #64
I agree with @falsevapor , this is serious show stopper for the applications using this excellent library.

If the last group is open and any other group above it which is in the view is swiped then the app will crash throwing a 'Index out of bound Exception'  at getPosition.

I tried to keep only one group open at a time by collapsing the other on touch, but unable to do so within the SwipeableIt

[2015-07-17 05:37] indiandragon commented on #64
Temporary fix I've chosen is to have a dummy final group item without any child . This does affect the user experience though.

[2015-07-17 15:12] falsevapor commented on #64
My current workaround seems to be working. I don't notice any visual effect. But it is surely very ugly from code stand point.
So what I do is on swipe reaction I collapse the last group before removing the item and notifying about the removal and the right after notifying I expand it again.:
In the adapter:

    @Override
    public void onPerformAfterSwipeGroupReaction(MyGroupViewHolder holder,

[2015-07-19 15:28] h6ah4i commented on #54
Maybe this issue will be fixed by PR #72.

[2015-07-19 15:33] h6ah4i commented on #64
Sorry for the very late response :disappointed:

Thank you for giving me the detail of scenario to procedure the bug! It helped me a lot and I have just fixed it now. I will release it as v0.7.3 tomorrow.

[2015-07-20 07:54] pecabum opened #73 "Button Clicking and expanding problem"
Hello , i have a button , but when it's clicked the view get expanded instead of doing the button action.

[2015-07-20 11:19] h6ah4i commented on #73
Need to modify the  `onCheckCanExpandOrCollapseGroup()` method.

### Solution 1

Make the method returns `false` if the touched positon is on the button.

- example; excluding mDragHandle
https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_eds/MyExpandableDraggableSwipeableItemAdapter.java#L293

### Solution 2

Ma

[2015-07-20 14:24] h6ah4i commented on #70
Hi. Try the following code :)

[code]

[2015-07-22 18:03] indiandragon commented on #64
Thanks @h6ah4i  , eagerly awaiting the v0.7.3 build.  @falsevapor thanks for sharing your fix. I actually have two draggable-expandable-swipeable ARV's so I have just added a dummy group item with no child as a button to open the second ARV as a stop gap measure.

[2015-07-27 02:49] h6ah4i commented on #65
@leapfrog-santosh @tikimcfee  Hi. I have just updated the library to v0.7.3 and added these new interfaces and methods.

- RecyclerViewSwipeManager
  - [`OnItemSwipeEventListener `](https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/library/src/main/java/com/h6ah4i/android/widget/advrecyclerview/swipeable/RecyclerViewSwipeManager.java#L223)
  - [`OnItemSwipeEventListener getOnItemS

[2015-07-27 02:52] h6ah4i commented on #64
@indiandragon I have just released a new version, but sorry for the delay of releasing v0.7.3, I was so busy last week...

[2015-07-27 13:27] indiandragon commented on #64
@h6ah4i Thanks man ! I will check out new build, meanwhile I have added your patch and it did resolve the bug in question.

P.S Thanks for the impressive library and for maintaining it actively, much appreciated.

[2015-07-29 18:33] indiandragon opened #74 "Question: How to collapse all groups when dragging a group"
Hi @h6ah4i

I'm trying to collapse all expanded groups while on drag, So far I have been successful in keeping only one expanded group by calling collapseGroup(groupPosition) in ExpandableRecyclerViewWrapperAdapter but I need to close all expanded groups on drag of any group.

i.e I don't want any group to be expanded on drag. Any help regarding this is appreciated.

[2015-07-30 20:43] falsevapor commented on #64
Looks like 0.7.3 fixed the issue! Thanks a lot!

[2015-07-31 09:31] akash1223 opened #75 "Error In -->Expandable(Add/Remove Items)"
Error occur when we go through following steps
1.add group
2.add child in that group
3.expand group
5.remove group
.
.
Error(OutofboundIndex exception )

[2015-07-31 10:02] h6ah4i commented on #75
Thanks for the report! I will fix this as soon as possible.

[2015-08-01 06:32] #54 closed

[2015-08-01 06:32] #64 closed

[2015-08-01 06:32] #65 closed

[2015-08-01 07:11] h6ah4i commented on #75
Fixed in 0.7.4.

[2015-08-01 07:11] #75 closed

[2015-08-03 14:41] LouisCo commented on #69
Hi again!

I modified myself the version 0.7.2 of the library to fix this because my app needed fix for this as I'm using Google Now Launcher like card dismiss with two swipe-able tabs. I don't have skills enough to submit a proper pull request for now, so I'm posting here the code I modified to make this enhancement working.

Here's the code:
In **``swipeable/RecyclerViewSwipeManager.java``** I a

[2015-08-04 10:44] vinayak-garg commented on #67
It would be great to have a GridLayout support for this awesome library. Is it going to be supported anytime soon? And meanwhile is anyone aware of a working library which supports drag and drop with grid layout?
Also any thoughts on implementing GridLayout support for advanced-recyclerview? (Drag and drop only)

[2015-08-04 11:01] akash1223 commented on #75
Thanks sir

[2015-08-04 11:19] vinayak-garg commented on #42
I managed to do just that. It is quite simple. Just replace `getY` with `getX`, `translationY` with `translationX`, `getHeight` with `getWidth` etc. You can look at this particular branch in my fork - https://github.com/vinayak-garg/android-advancedrecyclerview/tree/customize. I have customised it only for 'drag on long press' example.

[2015-08-05 03:36] wliu6v opened #76 "How to notifyDataSetChanged when delete a group?"
Hi, @h6ah4i

I'm trying to remove a group in a ExpandableDraggableItemAdapter. But after remove, the items belows the removed item won't refresh.

Here's my code

	public Object removeItem(int groupPos) {
		mExpandManager.notifyGroupItemRemoved(groupPos);
		Object obj = mDataList.remove(groupPos);
		return obj;
	}

----

And there's another implementation. I try to refresh all the item below the d

[2015-08-05 10:24] fabiendem commented on #76
Hi,
Try notifying after the remove call:

[code]

[2015-08-07 10:25] elod91 opened #77 "Changing the data for the expandable recycler view throws ClassCastException on item click"
java.lang.ClassCastException: com.acar.adapters.PoisAdapter$PoiChildViewHolder cannot be cast to com.acar.adapters.PoisAdapter$PoiGroupViewHolder
            at com.acar.adapters.PoisAdapter.onCheckCanExpandOrCollapseGroup(PoisAdapter.java:29)
            at com.h6ah4i.android.widget.advrecyclerview.expandable.ExpandableRecyclerViewWrapperAdapter.onTapItem(ExpandableRecyclerViewWrapperAdapter.java

[2015-08-07 10:27] elod91 commented on #77
I have a search option in my app and that's why I need to add new data to the adapter. Usually the new data list has less elements, less groups.

[2015-08-07 17:08] h6ah4i commented on #34
Has been fixed in 0.7.3.  Use these methods and also check the "Expandable (Add/Remove items)" example.

- [`RecyclerViewExpandableItemManager.notifyGroupItemInserted()`](https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/library/src/main/java/com/h6ah4i/android/widget/advrecyclerview/expandable/RecyclerViewExpandableItemManager.java#L657)
- [`RecyclerViewExpandableItemManager.noti

[2015-08-07 17:08] #34 closed

[2015-08-07 17:45] MaxBleggi opened #78 "Implementation problems"
Sorry to be bothering you with this but I'm new to android development/java and am halfway through making my first app. I tried going through the example code for hours but it's all just way to advanced for me and I can't sift through all the data to get to the essentials of what I need.

I've already implemented this library: https://github.com/hudomju/android-swipe-to-dismiss-undo but I'd like t

[2015-08-08 17:25] FreakMurderer opened #79 "MyExpandableItemAdapter"
Hello
When i choose last element in Expandable recyclerView (com.h6ah4i.android.example.advrecyclerview.demo_e.RecyclerListViewFragment)
 last group not expand automatically i need to swype manually.
Look at video:
http://1drv.ms/1IVk5Pl

[2015-08-09 17:10] ssaurel opened #80 "How to implement a ClickItemListener on Children ?"
Hello,

Is there a simple way to implement a click item listener on children ?

Sylvain

[2015-08-09 18:00] vinayak-garg commented on #80
I have done it in following manner-
In the `onCreateViewHolder` setup the on click listener. As shown below.

        @Override
        public ViewHolder onCreateViewHolder(ViewGroup parent, int viewType) {
            final LayoutInflater inflater = LayoutInflater.from(parent.getContext());
            final View v = inflater.inflate(R.layout.myview, parent, false);
            ViewHolder vh = ne

[2015-08-10 16:39] IvanMurzak opened #81 "Drag just groups without children"
Thank you guys, this is an awesome library!
But I have a problem. When user drags "<b>Group 2</b>" upper,  the group swipes with children of "Group 1". But I need swipe "Group 2" with "Group 1" without children. Could you help please?

Group 1
- child 1
- <b>group 2 moves here</b>
- child 2

<b>Group 2</b>
- child 3
- child 4

[2015-08-11 14:19] h6ah4i commented on #79
duplicate of #60.

[2015-08-11 14:49] h6ah4i commented on #60
I think automatic scrolling when expanding a group item should not be performed by this library. That should be implemented by app developers in order to allow app specific behavior.

These methods can be used to calculate the scroll offset and to perform scrolling.
- `LinearLayoutManager. scrollToPositionWithOffset()`
- `LinearLayoutManager. findFirstVisibleItemPosition()`
- `LinearLayoutManager.

[2015-08-11 14:57] h6ah4i commented on #81
This library does not support such behavior for now, and I don't have any plan to implement it.

Maybe that behavior can be achieved by modifying this library. If you are going to fork this project, take a look at the implementation of `ExpandableRecyclerViewWrapperAdapter` class, especially
 [line 477-491 of ExpandableRecyclerViewWrapperAdapter.java](https://github.com/h6ah4i/android-advancedrecy

[2015-08-11 14:57] Kuci commented on #60
I see it like this: Does ExpandableListView do it ? Then ExpandableRecyclerView should do it as well. I think the vast majority of developers will not try to get rid of this effect, but if you think so, then I think it would be a better idea to turn it on by default and add an option to turn it off.

[2015-08-12 07:00] h6ah4i commented on #60
I decided to add `scrollToGroup()` method to `RecyclerViewExpandableItemManager` on next update. Please call this method when group item is expanded.

Also, I created a feature branch and the method has already been implemented. You can port it to your project with a little modifications.

- https://github.com/h6ah4i/android-advancedrecyclerview/blob/feature/scroll_on_group_expand/library/src/main

[2015-08-12 12:58] h6ah4i commented on #77
Maybe,  `RecyclerViewExpandableItemManager.release()` method call is missing.

`RecyclerViewExpandableItemManager` class uses `RecyclerView.OnItemTouchListener` internally and unregister it when the `release()` method is called.

FYI: If possible, I recommend you to implement `setData()` or sort of method to your adapter instead of re-creating everything.

[2015-08-12 13:30] elod91 commented on #77
Sorry, I've implemented already a setData() method and it works. All I needed to do is to change the data list and call the notifyDataSetChanged(). A colleague of mine sad that it won't work this way, so that's why I recreated everything. Then after a few hours of suffering I tried the "traditional" method and it worked!

[2015-08-12 13:30] #77 closed

[2015-08-12 18:03] FreakMurderer opened #82 "onSaveInstanceState problems"
Look
https://github.com/h6ah4i/android-advancedrecyclerview/blob/7e0b4ef282547385dcbe9cbc48913404abafcbe6/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_e/RecyclerListViewFragment.java#L41

this code `final Parcelable eimSavedState = (savedInstanceState != null) ? savedInstanceState.getParcelable(SAVED_STATE_EXPANDABLE_ITEM_MANAGER) : null;
        mRecyclerViewExpandableIte

[2015-08-13 10:26] papcio28 opened #83 "Unnecessary animation on drag"
Hello !
I implemented drag&drop Recycler View as in your example and I have some annoying problem. When I swipe some item RecyclerView animates position changing. It looks like playing back my drag gesture.

How to remove this effect ? I need from dropped element to stay where I left it, not animating again.

Here you have a link for YouTube video with described effect : https://youtu.be/V3eBLiAkw

[2015-08-13 11:27] FreakMurderer commented on #80
Ok, and but how get child position in this OnClick ?

[2015-08-13 12:04] h6ah4i commented on #83
This library requires stable ID to work properly. Please call `setHasStableIds(true)` and implement the  `getItemId()` method properly.

Related isaues:
#22, #7, #5

[2015-08-13 12:32] papcio28 commented on #83
OK, you were right. I had dummy getItemId implementation (I just returned item position). I also have another bug in my code. My code which were changing item index in List was wrong. Now everything work perfect.

Thank you.

[2015-08-13 12:32] #83 closed

[2015-08-13 12:33] h6ah4i commented on #82
This is not a library's issue. I think it is a design fault of Android's Fragment...

I recommend you to create a custom `ViewGroup` which manages saved state of `RecyclerView` and `RecyclerViewExpandableItemManager`.

1. Create a `ViewGroup` which extends some stock `ViewGroup` class. (`FrameLayout` is recommended)
2. Override `dispatchSaveInstanceState()` and `dispatchRestoreInstanceState()` to

[2015-08-13 12:34] FreakMurderer opened #84 "Better way get child and group position in..."
... AbstractExpandableItemAdapter ?
Please, give OnClick listener  example if clicked on children...

[2015-08-13 12:36] vinayak-garg commented on #80
@FreakMurderer : Simply call `getLayoutPosition();` to get the child position inside the `void onClick(View v) { }`

[2015-08-13 12:44] FreakMurderer commented on #80
`Simply call getLayoutPosition();` = this absolutely wrong. On this way you never get properly childposition...

[2015-08-13 12:48] FreakMurderer commented on #80
Look at
https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_e_add_remove/MyAddRemoveExpandableItemAdapter.java#L219

This right way , But, in my opinion,  is very expensive and hard way ... Need more simplicity this things ...

[2015-08-13 12:55] FreakMurderer commented on #82
Thank you, but what you said about this decision: http://stackoverflow.com/a/25068471
I, try, and that work for me
[code]
and

[code]

and
[code]

Or that ridiculous  ? : )

[2015-08-13 15:31] ChromaticAberration opened #85 "Drag & drop edge scroll speed"
When using the drag and drop functionality, the auto edge scroll can be a bit too fast for small lists, which makes it tricky to place items correctly.

I believe the values that determine the speed are the private float constants inside the RecyclerViewDragDropManager class.

Can we have setter methods that can tweak these values, or is there a method somewhere else that can change the speed?

[2015-08-13 17:09] vinayak-garg commented on #80
I should mention that I only use drag and drop feature of this library. And `getLayoutPosition()` works fine for that.

[2015-08-13 17:21] FreakMurderer commented on #80
If you use expandable recyclerView - you cannot get child position by getLayoutPosition, you understand or not, man ?
If you use NOT expandable recyclerView - you can get item (not child or not Group item) position by getLayoutPosition ....

Example
group1
- children1
- children2
- children3
group2
- children1
- children2
- children3

When you will be use get LayoutPosition for group2->children2 ,

[2015-08-13 17:32] vinayak-garg commented on #80
I said that I **only use drag and drop**. To make it even more clear **I do not use expandable recycler view** feature.

Your explanation may help someone though.

[2015-08-14 07:50] vinayak-garg opened #86 "Require help in implementing drag and drop for Grid View"
I have made some progress in implementing grid view for this library. You can take a look at my fork here - https://github.com/vinayak-garg/android-advancedrecyclerview/tree/grid_layout

I am not able to understand the library code completely, so I need some help to implement grid view support.

Take a look at this screen capture video to see major issues that I need to resolve - https://www.youtu

[2015-08-14 13:57] FreakMurderer opened #87 "Change expand group speed"
How change expand group speed or delete expand animation (etc speed) absolutely.

Etc, like ExpandableListView behavior ...

[2015-08-14 15:03] cabbage opened #88 "IllegalStateException onMoveItem() despite having stable IDs"
Hi,

I know that issue #10 is about the same error, but since it's closed and a bit older I'll start with a new one.

It's fairly easy to reproduce but not to understand (for me at least). When starting the `Activity` (it has a `ViewPager` and the `RecyclerView` is in one of the `Fragment`s acting as pages) dragging the item views is not a problem. However, when I click an Item and start another `

[2015-08-16 01:52] h6ah4i commented on #87
Use `RecyclerView.ItemAnimator`'s methods.

- [`RecyclerView.ItemAnimator.setMoveDuration(long moveDuration)`](https://developer.android.com/reference/android/support/v7/widget/RecyclerView.ItemAnimator.html#setMoveDuration%28long%29)
- [`RecyclerView.ItemAnimator.setRemoveDuration(long removeDuration)`](https://developer.android.com/reference/android/support/v7/widget/RecyclerView.ItemAnimator.ht

[2015-08-16 12:31] vinayak-garg commented on #86
So I managed to get the drag and drop in grid view working. :smiley:  It is not as smooth as the original Vertical layout implementation of this library. But it is smooth enough for most use cases. You can check out this branch - https://github.com/vinayak-garg/android-advancedrecyclerview/tree/grid_layout
In current form I need to do some clean ups. Like I have hard coded the column count as 4. A

[2015-08-16 14:04] h6ah4i commented on #86
Oh, you beat me to it! I have just uploaded my experimental GridLayoutManager support to this repository. It's not based on your code, but I got an idea from your old implementation. I will check your latest code later and it will be included in next major update.

https://github.com/h6ah4i/android-advancedrecyclerview/tree/feature/support_grid_layout_manager

[2015-08-16 14:32] h6ah4i commented on #82
I do not recommend using Fragment's arguments for saving instance state.

The [`StatedFragment`](https://github.com/nuuneoi/StatedFragment) library was using that pattern for saving Fragment's state, but now this library is deprecated. The reason of deprecation is described on the following article written by the author of the StatedFragment library.

- [The Real Best Practices to Save/Restore Act

[2015-08-16 14:59] h6ah4i commented on #53
That is a common RecyclerView problem. Mark this issue as closed.

[2015-08-16 14:59] #53 closed

[2015-08-16 16:55] vinayak-garg commented on #86
Awesome! so I wouldn't have to clean up my code. ;)

The main issue I faced while adding grid layout support, was how to get the `SwapTargetItemOperator` working correctly. Once I decided to skip it altogether, I was able to proceed. I lost some smoothness, but the result was still great.

I tried out 3 libraries for grid view drag and drop. None of them worked. Your library was the only one with

[2015-08-17 02:36] jjhesk opened #89 "enhancement for admob"
is that possible to add admob integration recyclerview?

[2015-08-17 03:02] h6ah4i commented on #89
I do not have any plan to add any special support for AdMob. Is that feature really helps for many other app developers?

The [decorator pattern](https://en.wikipedia.org/wiki/Decorator_pattern) is good a way to handle such problem. Create a wrapper adapter which automatically insert ads moderately. You can refer the implementation of the [`BaseWrapperAdapter`](https://github.com/h6ah4i/android-ad

[2015-08-17 12:31] cabbage commented on #88
As I learned right now, this does not only happen when I start a new Activity, but also when I lock the phone or generally leave the app and return to that screen. Another weird behaviour which is triggered by pausing/stopping the app is that when I swipe to delete the background drawable is visibly placed on the whole container instead of just the swipe-area (if that makes sense)
Unfortunately I

[2015-08-18 10:32] wliu6v commented on #76
@fabiendem
Sorry for reply so late. Thanks for your solution and I have tried it, but it seems not working.

The problem like this:

Before remove (4 items in list):

  Item A - 0
  Item B - 1
  Item C - 2
  Item D - 3

--

After remove item B (3 items in list. the animation is normal, but the index doesn't refresh):

  Item A - 0
  Item C - 2
  Item D - crash

[2015-08-18 10:48] fabiendem commented on #76
You need to make sure the getItemCount method returns a valid value. should be equal to: `mDataList.size()`

[2015-08-19 08:20] wliu6v commented on #76
I'm using `ExpandableDraggableItemAdapte`r so I use `getGroupCount()` instead of `getItemCount()`, and it's still not working. Here's some more code:

    public TheAdapter(Activity activity, ArrayList dataList) {
        mActivity = activity;
        mDataList = dataList;
        setHasStableIds(true);
    }

    @Override
    public int getGroupCount() {
        return mDataList.size();
    }

[2015-08-19 20:27] fabiendem commented on #76
Sorry can't see anything wrong.
Can you grab the exception stack trace and error message via logcat when the error occurs?

[2015-08-19 23:19] h6ah4i commented on #88
Hi. When do you call the `RecyclerViewDragDropManager.release()` method? Initializing the `RecyclerViewDragDropManager` multiple times without calling the `release()` method may cause such problem.

Need to take care that `View` instances (of course including the `RecyclerView`) are kept alive even after the current Activity becomes background, so the same RecyclerView instance will be reused afte

[2015-08-20 08:17] AndroidDeveloperLB opened #91 "Bug on sample: "Expandable+draggable with section" - it allows to drag section item between its children"
This shouldn't be possible:

![device-2015-08-20-111616](https://cloud.githubusercontent.com/assets/5357526/9378790/ea50ca0e-472c-11e5-9cdb-3ee6087612bf.png)

[2015-08-20 12:14] h6ah4i commented on #91
Hi.
It is working as expcted, I think that behavior is not a bug. If you want to disallow dragging for group items, make the `onCheckGroupCanStartDrag()` method return `false` .

[2015-08-20 12:18] AndroidDeveloperLB commented on #91
You don't understand. A is the one that has "a,b,c" children. It should be allowed to drag between B and C, but not in its own children. It's like A will be the child of itself.
Also, even when you stop the dragging, you will see that it won't allow you to really put A in between "a" and "b" .

[2015-08-20 13:36] h6ah4i commented on #91
The behavior is by design of this library. Maybe, using the [ExpandableLayout](https://github.com/traex/ExpandableLayout) or some sort of custom views with RecyclerView will fits your expectation.

[2015-08-20 15:29] cabbage commented on #88
Indeed I did release them in `onDestroy()` - I changed that to `onStop()` and it's working now.

Thanks a lot! That SO question was really enlightening :+1:

[2015-08-20 15:29] #88 closed

[2015-08-20 16:09] AndroidDeveloperLB commented on #91
I only wanted to try out the sample. I consider this a bug because it lets you drag the parent into its children, but it won't let you put it there.

[2015-08-21 02:58] wliu6v commented on #76
Index Exception.

After remove:

Item A - 0
Item C - 2
Item D - crash  [This index is 3, But after remove, there's only 3 items, not 4. So here occurs exception. ]

----

Crash Log:

	W/dalvikvm﹕ threadid=1: thread exiting with uncaught exception (group=0x41b2fce0)
	W/System.err﹕ java.lang.IndexOutOfBoundsException: Invalid index 18, size is 18
	W/System.err﹕ at java.util.ArrayList.throwIndexOutOf

[2015-08-21 03:31] wliu6v commented on #76
I can't provide the original code, so I write a demo for this issue, Here's the link:

https://github.com/wliu6v/RecyclerDemo/blob/master/app/src/main/java/demo/liuwei/recyclerexpanddemo/TheAdapter.java

In this file, the `removeItem()` method will crash after remove a item and click the last item. but the `removeItem2()` will be ok.

[2015-08-21 04:05] wliu6v commented on #91
I'm agree with @AndroidDeveloperLB . I think the children should move with the parent when drag the parent. The parent & children should be a whole when start drag on the parent.

I don't know how to implement this effect, so I collapse all items when I start drag, and re-expand them when the drag ends.

[2015-08-21 04:10] h6ah4i commented on #76
@wliu6v Thanks, I'll take a look your demo code.

[2015-08-21 04:50] h6ah4i commented on #91
@AndroidDeveloperLB @wliu6v I also agree with your opinion that current behavior is weird and looks like something broken.

However, I'm not going to change the behavior. Because it is too difficult (and I think that is impossible...) to make treating a group and its children items as a single draggable object.

That is a good workaround for this issue. Maybe I can add a sample code.

[2015-08-21 05:00] h6ah4i commented on #76
You cannot reuse the `groupPosition` in callback. Position will be changed.
[code]

[2015-08-25 07:00] wliu6v commented on #76
@h6ah4i Thanks for your reply but it seems not work. I update my code. Now the `removeItem()` method is your code. But it has the same problem with my original code.

[2015-08-25 07:33] h6ah4i commented on #76
@wliu6v Try the following code. My old implementations can cause a crash when you click the list items frequently.

[code]

[2015-08-25 08:01] wliu6v commented on #76
@h6ah4i Your new solution will prevent crash when click the last item. But when I click the items between the removed one and the last one, the position still not right.

You can see the images below:

1. The original state.
2. I remove the Item E.
3. I click on Item G. The Item G should be , but because the position not right, so the expanded item is H, not G.

![1](https://cloud.githubuserconten

[2015-08-25 08:05] wliu6v commented on #76
The following code is my `onBindGroupViewHolder()` method. If the `groupPosition` in `onClick()` is wrong?

	@Override
	public void onBindGroupViewHolder(GroupViewHolder groupViewHolder,
			final int groupPosition, int viewType) {
		groupViewHolder.tv.setText(mData.get(groupPosition).first);

		groupViewHolder.tv.setOnClickListener(new View.OnClickListener() {
			@Override
			public void onClick(V

[2015-08-25 08:41] h6ah4i commented on #76
That is the same problem. Have to re-calculate the item position from the view instance.

Code snippet:
[code]

FYI: This is not an Advanced RecyclerView specific issue, but rather a common practice for touch event handling of RecyclerView.

[2015-08-25 09:13] wliu6v commented on #76
Thank you for your patiently reply! I had already know where the problem is.

The `recyclerView` won't refresh all item's positions after remove a item, so what I should do is get the real position by the view.

[2015-08-25 11:25] fahimk opened #92 "AbstractMethodError in RecyclerViewTouchActionGuardManager"
I have a switch in the rows of my recyclerview, looks like it is causing an issue:

[code]

[2015-08-25 13:11] papcio28 opened #93 "Grouping library integration"
Hello !
Do you know any library that supports grouping (sections) and can be easyli integrated with your library ?
Greetings,
Paweł

[2015-08-25 14:53] h6ah4i commented on #92
That seems strange, looks like a mismatch of this library and the RecyclerView library. Can I see the output of the following command?

`./gradlew :app:dependencies`

(*) Note that `app` is the name of the application module of your project.

[2015-08-25 15:03] fahimk commented on #92
[code]

[2015-08-25 15:49] h6ah4i commented on #92
Thanks. You are using two libraries which depends on the `com.android.support:recyclerview-v7` library.

1. `com.h6ah4i.android.widget.advrecyclerview:advrecyclerview:0.7.1` expects `22.1.1`
2. `com.github.ksoichiro:android-observablescrollview:1.5.2` expects `21.0.0`

However, you are specifying `recyclerview-v7:22.2.1` on your project. The `RecyclerView. OnItemTouchListener` had changed its inte

[2015-08-25 20:42] wakim commented on #57
@h6ah4i , In my situation, i'm adding N expanded groups, and N can be huge.

Calling "expandGroup" worked, but there is any way to add it collapsed without having to call "expandGroup" for every group, maybe any flag on ViewHolder or something like that? If not, can you give any tip to implement this in your library, maybe i can try and make a PR.

[2015-08-26 13:56] h6ah4i commented on #57
@wakim I think the best solution for this issue is adding a new method like the following;

[code]

The third argument specifies the initial state whether the inserted group items are expanded or not.

This library already has the same named method which does not have the third argument. If you are going to make a pull request, take a look this method.

Thanks

[2015-08-31 07:28] LouisCo commented on #69
Can't you include my code in the next release?

[2015-08-31 14:47] h6ah4i commented on #69
Hi. Sorry for the late reply :disappointed: I'm going to include this enhancement in the next release.

[2015-09-02 00:55] cliffmeyers opened #98 "Callback method when swipe animation is fully completed?"
We are trying to implement a feature that changes the UI for a row after its swipe has been completed (similar to how the UI changes after a message is dismissed in Gmail). I have been doing some testing with a few different callback methods:

RecyclerViewSwipeManager.OnItemSwipeEventListener.onItemSwipeFinished
SwipeableItemAdapter.onPerformAfterSwipeReaction

Unfortunately these seem to get call

[2015-09-03 00:53] h6ah4i commented on #98
Yep, and also need to take care of Android 2.3 devices.
I would very appreciate if you could submit a PR :smile: Thanks.

[2015-09-07 04:20] werther-luo commented on #42
@vinayak-garg thanks, it worked, helped a lot

[2015-09-07 19:11] ArcanusEternal opened #99 "Draggable view with onLongClickListener"
Can you implement onLongClickListener into dragging view? Because currently if I touch the draggable view, the app immedieatelly pick up it.

(Sorry my bad English)

[2015-09-08 19:25] justplay1 opened #100 "How to expand all group by default?"
It is possible to expand group by default?

[2015-09-08 23:09] DJSavage opened #101 "Implementing with lists of classes"
This is definitely the best featured library for an expandable recyclerview available from all the ones I've looked into. But the lack of proper documentation has meant that I haven't been able to trial it in my app.

I want to send the data to the adapter in this format:
[List of Parent]
    String *something*
    String *something*
    [List of Child]
        *various data*
    [end Child]
[end

[2015-09-09 07:31] AndroidDeveloperLB opened #102 "Request: add stickey/pinned headers support"
as done on these libraries (yet they have issues) :

https://github.com/TonicArtos/SuperSLiM
https://github.com/eowise/recyclerview-stickyheaders
https://github.com/cymcsg/UltimateRecyclerView

There is always a header at the top of the recyclerView, and it moves up/down if being replaced by another.

[2015-09-09 09:44] Shvet commented on #101
I need to implement same way as you want. if you have found solution, please post here.

[2015-09-09 15:49] h6ah4i commented on #100
Hi. This issue is duplicate of the issue #57. I have added the`RecyclerViewExpandableItemManager.expandAll()` method to solve the issue, but it is available only on the develop branch code for now. It will be included the next v0.8.0 release.

Related:
- Issue #57 How to add groups "expanded" right away?
- PR #97 Feature/add notify expanded group items insertion method #96

[2015-09-09 16:01] h6ah4i commented on #99
Hi. Try the following code.

[code]

[2015-09-09 16:21] justplay1 commented on #100
h6ah4i, Thanks. Wait for 0.8.0

[2015-09-10 00:40] h6ah4i commented on #101
Hi.

That seems nothing special. Implement like the following; (however I haven't tested yet)

[code]

[code]

---

This is a limitation of current Gradle and Android Studio. This library is provided as the AAR format, so the source jar file will not downloaded automatically.  I have updated the README and added a workaround for this problem. Try the following Gradle script;

[code]

[2015-09-10 04:14] h6ah4i opened #103 "初回起動時にメッセージを表示させる"
from kentaro on Slack

[code]

[2015-09-10 06:44] Shvet commented on #101
I tried your solution but it is not calling any methods of adapter like **onCreateGroupViewHolder**, **onCreateChildViewHolder**, **onBindGroupViewHolder**,....

can you tell me why it is like that?

[2015-09-10 08:38] Shvet commented on #101
Thanks. It worked.

[2015-09-10 11:15] Shvet opened #104 "java.lang.IllegalStateException: already have a wrapped adapter"
When i repopulate recyclerview with new data it is giving me java.lang.IllegalStateException: already have a wrapped adapter error. I tried to check library code and found that if i have already set adapter in **`RecyclerViewExpandableItemManager`** it will through **`IllegalArgumentException`** error.

Actually i am trying to show data from webservice which will be refreshed after every few time

[2015-09-10 12:35] #103 closed

[2015-09-10 15:17] h6ah4i commented on #104
Hi. That is an intended behavior of this library. If you want to refresh the all of the list items, I can suggest two approaches.

### Approach 1
Implement a `setData()` or some sort of method to the adapter, and then call the [`notifyDataSetChanged()`](https://developer.android.com/intl/ja/reference/android/support/v7/widget/RecyclerView.Adapter.html#notifyDataSetChanged()) method.

### Approach

[2015-09-10 17:32] justplay1 opened #105 "Is it possible to make a two-level nested groups?"

[2015-09-10 22:48] h6ah4i commented on #105
Unfortunately,  not. Current implementation only supports one-level grouping.

[2015-09-11 07:30] mrkentlng opened #106 "Hi sir, im newbie! I have one question for your lib about spilit only swipe"
Im try clone in desktop then i got full your project and run it succesfull on my device! But now im want export only recycleview with swipe! How can i do that?
Im try compile to new project! But when i try implement! Something got wrong! Please help me fix this! Export only recycleview with swipe! My english very bad, im newbie dev android! So please help me! Thanks you so much!

[2015-09-11 09:44] ArcanusEternal commented on #99
Thank you! :) :+1: working for me

[2015-09-11 13:27] h6ah4i commented on #106
Hi. Sorry, I'm not sure what exactly you want to achieve.

Do you want to make a **minimal example app which only supports swiping**? OR... Do you want to **modify the library to remove all features except for swiping*?

[2015-09-12 08:29] Shvet commented on #104
Solved the problem. I am editing library according to my requirement too.

Thanks/Regards

[2015-09-12 08:29] #104 closed

[2015-09-14 09:32] justplay1 opened #107 "It is possible to hide headers?"
It is possible to hide headers, but using expand adapter?

[2015-09-15 04:39] h6ah4i commented on #107
Hi. Do you mean the 'headers' called in [App bar called in the Material Design specification](https://www.google.com/design/spec/layout/structure.html#)?

[2015-09-15 05:37] justplay1 commented on #107
h6ah4i, no, I mean when i have
--header
---child1
---child1
--header
---child2
---child2

i need to show only child, but using expand adapter
---child1
---child1
---child2
---child2

[2015-09-15 06:30] h6ah4i commented on #107
Unfortunately, this library does not support such feature for now, but maybe that can be added with some development.

[2015-09-15 12:55] justplay1 commented on #107
I try to make this feature

[2015-09-16 15:09] kuffs opened #109 "How to prevent dropping child items into sections"
This is not an issue in the demo app as that disallows dragging child items from one group to another.

If I change the onGetChildItemDraggableRange to allow dragging between groups, it is possible to "lose" a child item as it is added as a child of a section (which is not expandable).

Is there some way to cancel a drag\drop operation if the drop target is not suitable?

Thank you.

[2015-09-17 07:56] kuffs commented on #109
I don't know enough about GitHub to make pull requests but here is how I solved it:

**ExpandableDraggableItemAdapter**

    void onMoveChildItem(int fromGroupPosition, int fromChildPosition, int toGroupPosition, int toChildPosition);

becomes

    boolean onMoveChildItem(int fromGroupPosition, int fromChildPosition, int toGroupPosition, int toChildPosition);

**ExpandableRecyclerViewWrapperAdapte

[2015-09-17 07:56] #109 closed

[2015-09-21 07:31] JinSB opened #110 "How to close expanded list without click?"
Some cases I want to expand only one list item. Other expanded list must be close when I expand one list or sometimes expand/close all list. Are there any API for this case?

[2015-09-21 07:53] JinSB opened #111 "Drag is not working when a drag handle is small"
My drag handle is little small (56dp x 56dp). I just tested with small touch pen. There two error cases.
1. Click top & drag upper direction. ( drag canceled )
2. Click bottom & Drag downward direction. ( drag canceled )

Below two cases are working fine.
1. Click top & drag downward direction. ( drag success )
2. Click bottom & Drag upper direction. ( drag success )

I'm checking ViewUtils.hitTes

[2015-09-21 07:55] JinSB commented on #110
I think this issue is duplicated. Is it possible to know when the 0.8.0 release plan?

Thank you.

[2015-09-23 04:54] khaines178 opened #112 "Bug when moving item to position 0"
When dragging an item from any position to position zero throws illegalState exception

09-23 00:54:08.024  27813-27813/com.swiftkaydevelopment.testing E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: com.swiftkaydevelopment.testing, PID: 27813
    java.lang.IllegalStateException: onMoveItem() - may be a bug or has duplicate IDs  --- mDraggingItemInitialPosition = 1, mDraggingItemCurrentPositi

[2015-09-23 05:41] #112 closed

[2015-09-23 09:16] Shvet opened #113 "GroupPosition and ChildPosition at ChildView Click Listener"
I want to know is there anyway to get groupPosition at childview click listener?

I have get childPosition by using mRecyclerView.getChildAdapterPosition(v); in public void onItemViewClicked(View v, boolean pinned) which is defined in interface.

Also There is one more Question. Can i show original view after swipe? I dont want to show any color after swipe is done. Like if i swipe a view only 15%

[2015-09-23 15:15] h6ah4i commented on #85
Will be included in v0.8.0 release.

[2015-09-23 15:29] h6ah4i commented on #110
Hi. I'm planning to release 0.8.0 at the end of this month.

The v0.8.0 will include `expandAll()` and `collapseAll()` methods, but maybe it will not help to achieve the behavior which you want (because those methods invokes `notifyDataSetChanged()` internally).

I recommend you to use `expandGroup()` and `collapseGroup()` methods they are ready in current library instead.

[2015-09-23 15:37] h6ah4i commented on #111
Thanks, I'll fix this in next release.

[2015-09-23 15:47] h6ah4i commented on #113
Hi :)

[code]

Do not set the background resource in the `onBindViewHolder()` and the `onSetSwipeBackground()` methods.

[2015-09-24 06:04] Shvet commented on #113
Thanks  Both Solution Worked for me.

[2015-09-24 06:05] #113 closed

[2015-09-24 07:09] ChromaticAberration commented on #85
Thank you :)

[2015-09-26 05:42] #101 closed

[2015-09-26 05:43] #99 closed

[2015-09-26 05:44] #92 closed

[2015-09-26 09:38] vinayak-garg opened #115 "Exception on dragging outside [Grid layout]"
Hi,
I tried the drag and drop on Grid layout. It works nicely, except for this one issue -

Lets say the activity contains the recycler view (grid) in 50% bottom region. And their are sufficient items, so that there are several (say 12) rows in the grid. Now grab an item from last row, and drag it up, fast. The finger should move into the top 50% region, which is outside the recycler view. Now the

[2015-09-28 11:50] lushan1314 opened #116 "can i build a horizontal recyclerview？"
can i build a  horizontal recyclerview  with this ？ i need a horizontal recyclerview and  it can drag items。
how can i do this？
thank you

[2015-09-28 12:00] h6ah4i commented on #116
Currently that is available in the develop branch code only. It will be included in next release (v0.8.0).

[2015-09-30 10:51] JinSB commented on #110
Hi

Where do i have implement "group onclicklistener"?
I tested collapseGroup method it works fine.

Thanks.

[2015-09-30 12:50] h6ah4i commented on #110
Hi.

Make the `onCheckCanExpandOrCollapseGroup()` method always return `false`, it will prevent to expand/collapse automatically when clicking a group item. Then, you can set your own click listener in the `onCreateGroupViewHolder()` or in the `onBindGroupViewHolder()` method.

The ["Expandable (Add/Remove)" demo](https://github.com/h6ah4i/android-advancedrecyclerview/blob/a8d755dc4d6f9ef21f0cdeae

[2015-10-01 15:31] vorsichtdiekurve opened #118 "How to swipe on LongClick?"
Is there a simple possibility to enable swiping only after longclick, like it is possible with the drag and drop functionality? Do i need to override some listeners? Thanks in advance for any help.

[2015-10-01 15:54] h6ah4i commented on #118
Currently, there is no way to implement such behavior except for modifying the library. I'll add a new method in next release.

[2015-10-03 08:01] h6ah4i commented on #118
Hi. I have just published v0.8.0. It introduced a new flag which indicates swiping starts on long press.

[code]

- `REACTION_CAN_SWIPE_(LEFT | RIGHT)`
 - -> can swipe left or right
- `REACTION_MASK_START_SWIPE_(LEFT | RIGHT)`
 - -> but it does not start even if finger moves to left or right
- `REACTION_START_SWIPE_ON_LONG_PRESS`
 - -> start swiping on long press

ref.) https://github.com/h6ah4i/a

[2015-10-03 08:01] #118 closed

[2015-10-03 08:01] h6ah4i commented on #116
0.8.0 is out.

[2015-10-03 08:01] #116 closed

[2015-10-03 08:02] h6ah4i commented on #111
0.8.0 is out.

[2015-10-03 08:02] #111 closed

[2015-10-03 08:02] h6ah4i commented on #100
Hi. I have just published v0.8.0.

[2015-10-03 08:02] #100 closed

[2015-10-03 08:14] h6ah4i commented on #98
Hi. I have just published 0.8.0 and it has improved swipe event handling.

The [`SwipeResultAction.onSlideAnimationEnd()`](https://github.com/h6ah4i/android-advancedrecyclerview/blob/023f6c0cbcecc9f48f38622a7e8937b10b3d858c/library/src/main/java/com/h6ah4i/android/widget/advrecyclerview/swipeable/action/SwipeResultAction.java) method is called when swipe animation is fully complete.

[code]

Pleas

[2015-10-03 08:14] #98 closed

[2015-10-03 08:18] h6ah4i commented on #85
Hi. I have just published v0.8.0 and it has introduced these new methods.

- [void RecyclerViewDragDropManager.setDragEdgeScrollSpeed(float speed)](https://github.com/h6ah4i/android-advancedrecyclerview/blob/023f6c0cbcecc9f48f38622a7e8937b10b3d858c/library/src/main/java/com/h6ah4i/android/widget/advrecyclerview/draggable/RecyclerViewDragDropManager.java#L438)

[code]

- [float RecyclerViewDragDrop

[2015-10-03 08:18] #85 closed

[2015-10-03 08:18] h6ah4i commented on #86
0.8.0 is out.

[2015-10-03 08:18] #86 closed

[2015-10-03 08:23] h6ah4i commented on #67
Hi. I have just published v0.8.0. It supports GridLayoutManager and [a new demo](https://github.com/h6ah4i/android-advancedrecyclerview/tree/023f6c0cbcecc9f48f38622a7e8937b10b3d858c/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_d_grid) is added. Check it out!

![image](https://cloud.githubusercontent.com/assets/2552365/10262062/44bfbe8a-69f3-11e5-9aae-d9c0b32452fc.png)

[2015-10-03 08:23] #67 closed

[2015-10-03 08:25] h6ah4i commented on #41
Hi. I have just published v0.8.0 and it supports swiping with `GridLayoutManager` (and maybe `StaggerredLayoutManager` also).

[2015-10-03 08:25] #41 closed

[2015-10-03 08:25] h6ah4i commented on #60
0.8.0 is out.

[2015-10-03 08:25] #60 closed

[2015-10-03 09:10] h6ah4i commented on #69
Hi. I have just published v0.8.0 and it includes a new demo ["Swipeable with ViewPager"](https://github.com/h6ah4i/android-advancedrecyclerview/tree/023f6c0cbcecc9f48f38622a7e8937b10b3d858c/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_s_viewpager), but it is implemented by a different approach.

First, I have introduced some new flags which can control how swipe starts.

-

[2015-10-03 09:10] #69 closed

[2015-10-03 10:11] h6ah4i commented on #115
Fixed in 0.8.0.

[2015-10-03 10:11] #115 closed

[2015-10-03 10:24] h6ah4i commented on #33
Maybe this issue is fixed in v0.8.0.

- Drag & Drop can start on long click
- Swipe can start on long click
- Added a demo `Swipeable with ViewPager`

[2015-10-03 10:24] #33 closed

[2015-10-03 10:25] #32 closed

[2015-10-03 10:26] #44 closed

[2015-10-03 10:51] #37 closed

[2015-10-03 10:53] #89 closed

[2015-10-03 10:53] #87 closed

[2015-10-03 10:53] #82 closed

[2015-10-03 10:54] #80 closed

[2015-10-03 10:54] #70 closed

[2015-10-03 11:00] h6ah4i commented on #63
Already fixed in 0.7.3.

Use [`RecyclerViewExpandableItemManager.notifyChildItemRangeRemoved(int groupPosition, int childPositionStart, int itemCount)`](https://github.com/h6ah4i/android-advancedrecyclerview/blob/0.7.3/library/src/main/java/com/h6ah4i/android/widget/advrecyclerview/expandable/RecyclerViewExpandableItemManager.java#L785).

[2015-10-03 11:00] #63 closed

[2015-10-03 11:01] #106 closed

[2015-10-03 11:01] h6ah4i commented on #79
Fixed in 0.8.0.

[2015-10-03 11:01] #79 closed

[2015-10-03 11:02] #73 closed

[2015-10-03 11:04] #39 closed

[2015-10-03 11:04] #20 closed

[2015-10-03 11:05] #76 closed

[2015-10-03 11:06] OmarAliSaid commented on #118
Can you please provide a documentation on how to use the library .. Im new
in android and actually i cant understand the exambles you provide under
usage at github
On Oct 3, 2015 10:01 AM, "Haruki Hasegawa" <notifications@github.com> wrote:

indicates swiping starts on long press.

int x, int y) {

Swipeable.REACTION_MASK_START_SWIPE_LEFT |

Swipeable.REACTION_MASK_START_SWIPE_RIGHT |

https://git

[2015-10-03 11:13] h6ah4i commented on #62
This behavior can be implemented as follows;

[code]

[2015-10-03 11:13] #62 closed

[2015-10-03 11:14] h6ah4i commented on #42
The v0.8.0 is supporting horizontal layout.

[2015-10-03 11:14] #42 closed

[2015-10-03 11:17] h6ah4i commented on #84
Please see the ["Expandable (Add/Remove items)"](https://github.com/h6ah4i/android-advancedrecyclerview/blob/0.8.0/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_e_add_remove/MyAddRemoveExpandableItemAdapter.java#L232) demo.

Thanks.

[2015-10-03 11:17] #84 closed

[2015-10-03 11:19] sergeyfitis commented on #63
Thank you. :+1:

[2015-10-03 13:48] h6ah4i commented on #118
@OmarAliSaid Hi.

Have you used the `RecyclerView` (just in a basic use)? If not, write a small exercise app first. I think [Vogella's tutorial](http://www.vogella.com/tutorials/AndroidRecyclerView/article.html) is a good reference.

Then, I have just wrote a tutorial about how to add swipeable feature to your adapter. Try it next.

- https://github.com/h6ah4i/android-advancedrecyclerview/wiki/Tut

[2015-10-05 12:54] XxGoliathusxX opened #119 "Cannot resolve R after integrating lib"
I got a problem integrating your lib: All my R symbols are marked red. Here is my  Gradle Build:

apply plugin: 'com.android.application'

android {
    compileSdkVersion 21
    buildToolsVersion "23.0.0 rc3"

    defaultConfig {
        applicationId "android.oli.com.fitnessapp"
        minSdkVersion 16
        targetSdkVersion 21
        versionCode 1
        versionName "1.0"
    }
    buildTyp

[2015-10-06 21:57] LouisCAD commented on #69
Thank you very much! I'm going to leave my workaround version I showed above to get this new, awesome version! You rocks! The new GridLayout version is also very good! Just some more animations to make drag n drop smoother, and it will be perfect (or very close :) ). It could be used in a Launcher for example (I think RecyclerView could improve performance on low-end devices and prevent some launc

[2015-10-07 11:38] pixelbendr opened #120 "Reverse Animation"
Hello I noticed in the swipe example when you click "cancel" on the dialog the animation reverses the unpin but I tried it and it doesn't work for me in my project. What am doing is setting item.setPin(false) and notifyItemChanged(position) but no animation. :( need help

[2015-10-07 12:01] h6ah4i commented on #120
Hi. Maybe, you havw to call the `setSwipeItemHorizontalSlideAmount()` in the `onBindItemView()`. Please check the following implementation.

https://github.com/h6ah4i/android-advancedrecyclerview/blob/0.8.0/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_s/MySwipeableItemAdapter.java#L155

Thanks.

[2015-10-07 12:55] pixelbendr commented on #120
When I call setSwipeItemHorizontalSlideAmount() I get some very unusual animation and items appearing at random positions but I will try it again. Thanks for this.

[2015-10-07 14:04] pixelbendr commented on #120
Not working. Also noticed onItemPinned is not called sometimes when I swipe to the end of the screen so the view get stacked in pin mode. :(

[2015-10-07 14:55] h6ah4i commented on #120
OK. I have more advices. Do you implement your adapter class provides stable ID for each items? This library requires stable ID to work properly. Then, do you disable "item change animations" by calling the `setSupportsChangeAnimations()` method?

[2015-10-08 02:17] pixelbendr commented on #120
Yes Please, am doing both, still same issues. Looked at the example, am doing everything to get swiping to work but I have disabled click events etc. because I don't need them?

[2015-10-08 12:54] vorsichtdiekurve opened #121 "NullPointerException after migration to v. 0.8.0"
Hi,
I'm trying to migrate to the new version of the library in order to use some of the newly implemented features. In my adapter, I'm implementing both the dragable, and the swipableItemAdapter interfaces.
I get a NullPointerException at the end of the swipe animation, and often at the end of the drag & drop animation.
Here's the stacktrace:

java.lang.NullPointerException: Attempt to invoke inte

[2015-10-10 15:21] pixelbendr opened #122 "Swipe to end"
Hello, swiping to the end of the screen doesn't call onItemPinned event. Can anyone help. :(

[2015-10-11 08:18] jyoungrok commented on #14
+1 same issue for me..

[2015-10-11 16:52] grennis opened #124 "Long press should cancel when recycler view scrolls"
When long press detection is enabled and user touches a list item just to scroll the recyclerview, the touched item suddenly switches into drag mode unexpectedly.

This is happening because the long press detector thinks user is long pressing an item but really they are just trying to scroll the recycler view. When the recycler view scrolls, the long touch detection should cancel.

[2015-10-11 17:01] grennis commented on #124
Weird, this only happens on the simulator. On a real device, it's working fine. I'm closing this out

[2015-10-11 17:10] grennis commented on #124
On a real device just scroll a recycler view slowly with finger and you can see the problem. Is there a workaround for this? Seems like I must be doing something wrong.

[2015-10-11 17:31] vinayak-garg commented on #124
Funny, I added a pull request to fix this issue only - https://github.com/h6ah4i/android-advancedrecyclerview/pull/123

Can you try if it solves the issue for you? I know it worked for me.

[2015-10-11 20:51] grennis commented on #124
After running through the samples I just wanted to point out that the demo doesn't show this problem because it defines a small area inside the recycler view item (a drag handle area) where user must click and hold or drag to re-order the items. But it's quite common, I think, to allow dragging from anywhere in the item to drag it. And you can reproduce the problem even with the demo by trying to

[2015-10-12 04:25] h6ah4i commented on #122
Hi. Could you show me your implementation?

[2015-10-12 04:27] h6ah4i commented on #120
Hmm... it's difficult to give more advices without taking a look an actual code. Could you show me your code, please?

[2015-10-12 06:08] h6ah4i commented on #124
@grennis Hi. Thank you for the issue report and the pull request.

Yes, I also think this is the ideal solution but it is not possible because we can not obtain MotionEvent instances in long press handler...

Yes, this is not possible also.

I think this is not the best solution because the `RecyclerViewDragDropManager` is already observing scroll events, so it should cancel long press detection i

[2015-10-12 07:47] h6ah4i commented on #121
Hi. Thanks for your issue report. I am trying to fix the issue, but I can not reproduce it yet... so I want ask you some questions to investigate the issue. (1) Is the example app also crashes on your device? (2) What version of Android OS running on your device?

[2015-10-12 09:05] pixelbendr commented on #122
I have extracted the methods related to the library since I have a lot going on in my code base
[code]

[2015-10-12 13:04] vorsichtdiekurve commented on #121
Hi,
Thanks for your attention.
1. The example app works fine
2. I've tested the app on 3 different devices, everytime resulting in a crash:
    - Lenovo Yoga Tablet2 with Android 5.0.1
    - HTC Nexus 9 with Android 5.1.1
    - Samsung Galaxy Tab 3 GT-P5200 with Android 4.4.2

The stacktrace for versions 5+ is as the above one. For Android 4.4.2 it's different:
java.lang.NullPointerException

[2015-10-12 13:22] grennis commented on #124
Yes, this is great, and the proper fix. Thank you!

[2015-10-12 13:30] h6ah4i commented on #122
Thanks, but I cannot see any issues in the part of your code. I also want to see the implementation of the `SwipeLeftResultAction` class in your code.

[2015-10-12 14:22] pixelbendr commented on #122
Here is the code for it.
[code]

[2015-10-12 14:23] h6ah4i commented on #124
I have just released v0.8.1. Try it out! Thank you :)

[2015-10-12 14:23] #124 closed

[2015-10-12 14:39] h6ah4i commented on #122
Thanks the `SwipeLeftResultAction` also looks good.

Did you confirmed that the `onSlideAnimationEnd()` method is never called? If so, please take a look at the [`ItemSlidingAnimator`](https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/library/src/main/java/com/h6ah4i/android/widget/advrecyclerview/swipeable/ItemSlidingAnimator.java) class and debug this class. Maybe the
[`onAnimat

[2015-10-12 14:54] pixelbendr commented on #122
Ok thanks. Will do some debugging on them.

[2015-10-12 15:08] h6ah4i commented on #121
Thanks. Finally I can get reproduced it. What I did to reproduce the issue is changing the return value of the [`getSwipeableContainerView()`](https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_s/MySwipeableItemAdapter.java#L72) method.

from:
[code]

to:
[code]

### How to fix
Create an inner view group for `get

[2015-10-13 00:41] h6ah4i commented on #121
I created an issue report on the AOSP issue tracker.

- [Issue 189686: NPE can be occurred when using the ViewPropertyAnimatorCompat](https://code.google.com/p/android/issues/detail?id=189686&thanks=189686&ts=1444696802)

[2015-10-13 12:29] vorsichtdiekurve opened #128 "Dragging and swiping enabled on the same area of ViewHolder"
Hi,
Is there a way for the dragging and the swiping actions to function correctly when both actions are enabled on the whole ViewHolder? (onCheckCanStartDrag always returns true, the getSwipeableContainerView returns a view which covers the whole ViewHolder)
Right now, the drag action seems to override and cancel the swipe action. I'd like them to cancel each other only when one action actually st

[2015-10-13 19:30] vorsichtdiekurve commented on #121
Thank you for your help. Works fine now :)

[2015-10-15 04:13] andersonsoares opened #129 "swipe not so smooth like examples"
Can anyone tell me where probably i'm messing up swipe?
I'm using swipe on exapandable recyclerview, where it shows a button to click.
Everything works fine, but the swipe action is not so smooth as the examples, it kind of stucks sometimes. I already checked and rechecked everything trying to figure out where my code differs the example and i could not succeed. Here are my code:

ItemAdapter
[cod

[2015-10-15 08:07] vorsichtdiekurve commented on #128
I resolved the issue myself. The problem is in attaching the adapter into the swipe and drag n drop manager.
It's important that the adapter is first attached to the RecyclerViewSwipeManager, otherwise the swipe action will always be overridden by the drag & drop functionality.

[2015-10-15 23:22] solcott opened #130 "Not compatible with RecyclerView 23.1.0"
Looks like Google made some backwards incompatible changes.  When I try to use advanced recyclerview in my app I get AbstractMethodErrors.

I tried updating Advanced RecyclerView to compile using 23.1.0 of recyclerview and app compat and making BaseItemAnimator extend android.support.v7.widget.SimpleItemAnimator.  However I get exceptions when running the example app.

On Swipe, Drag, Expand I get

[2015-10-16 00:00] h6ah4i commented on #130
Thanks for your report! I'll take a look on this weekend.

[2015-10-16 07:23] ArcanusEternal commented on #130
Same here :(

[2015-10-16 14:22] marbat87 commented on #130
I got an error too (maybe the same, I don't remember), but I solved it replacing
<pre>
final GeneralItemAnimator animator = new RefactoredDefaultItemAnimator();
animator.setSupportsChangeAnimations(false);
mRecyclerView.setItemAnimator(animator);
</pre>

with
<pre>
final RecyclerView.ItemAnimator animator = mRecyclerView.getItemAnimator();
        if (animator instanceof SimpleItemAnimator) {

[2015-10-17 01:48] grennis commented on #124
Version 0.8.1 works great. thanks

[2015-10-17 12:13] #121 closed

[2015-10-17 12:38] h6ah4i commented on #128
FYI:  If you want to start dragging and swiping on

[2015-10-17 12:38] #128 closed

[2015-10-17 12:49] h6ah4i commented on #14
@jyoungrok Could you provide an example project which can reproduce this issue?

[2015-10-17 12:49] jyoungrok commented on #14
NAVER - http://www.naver.com/
--------------------------------------------

jyr3357@naver.com 님께 보내신 메일 <Re: [android-advancedrecyclerview] There are several children view in a group,It's will expansion too slow. (#14)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-10-17 13:03] h6ah4i commented on #130
Hi. I've just published v0.8.2 which is compatible with RecyclerView 23.1.0 :wink:

[2015-10-17 13:03] #130 closed

[2015-10-17 13:36] jyoungrok commented on #14
@h6ah4i

[2015-10-18 09:55] h6ah4i commented on #14
@h3clikejava I have created a sample code which is using [Glide](https://github.com/bumptech/glide) library for image loading into child items. I think it is not so slow on my Nexus 5 with Android 6.0, how about on your device?

https://github.com/h6ah4i/android-advancedrecyclerview/tree/debug/expand_too_slow

<img src="https://cloud.githubusercontent.com/assets/2552365/10563556/b053795c-75c9-11e5

[2015-10-20 07:58] vinayak-garg opened #131 "Bottom padding of recycler view offsets the dragging item [Drag drop]"
Hi,
I saw an issue which I was able to reproduce easily with example app.

Steps-
1. Modify the `myRecyclerViewStyle` in v11/styles.xml to something like below. So that there is sufficient padding at bottom of recycler view.
[code]
2. Now open the example **Draggable (Grid Layout)**
3. Scroll to bottom, such that the bottom padding is mostly hidden and item **51-Z** is almost aligned to bottom scr

[2015-10-20 15:29] agrosner opened #132 "Crash When Dragging and Swiping"
Version: 0.8.1
Support Lib Version: 23.0.1

It's pretty easy to reproduce:
1. Drag an Item
2. Swipe to delete an item
3. Drag said item again.
4. Crash:
[code]
Whats happening is that the `animator.setListener(null)` in line 85 of `BaseDraggableItemDecorator` is getting nulled out. This means that it causes a crash in the support library.

[2015-10-20 15:36] agrosner commented on #132
also fails at support lib v23.1.0 and version 0.8.2

[2015-10-20 15:53] agrosner commented on #132
or it might be that the `animator` in `onCreateAnimation` does not have a listener.

[2015-10-20 16:00] agrosner commented on #132
both cases are valid. and another crash:
[code]

[2015-10-20 18:59] agrosner commented on #132
A hint its nexus 5 running 6.0

[2015-10-20 22:52] h6ah4i commented on #132
Duplicate of #121.

[2015-10-23 19:20] hroberts693 opened #133 "Wrong item position used when data set changes during swipe"
The original position of a swiped item is saved by RecyclerViewSwipeManager in startSwiping and used without further validation in finishSwiping and SwipingItemOperator's update method.  Data set changes between startSwiping and finishSwiping invalidate this position - this leads to problems when the swipe action is used to remove items in onSlideAnimationEnd or similar.

A proposed patch to fix t

[2015-10-24 10:13] h6ah4i commented on #133
Thank for your issue report and the bug fix patch! I have just merged it into the develop branch ;)

[2015-10-24 13:32] h6ah4i commented on #131
@vinayak-garg Thanks for the issue report! I have fixed this issue and pushed it to the [fix_issue_131 branch](https://github.com/h6ah4i/android-advancedrecyclerview/tree/fix_issue_131). Could you try it?

[2015-10-25 03:34] hroberts693 commented on #133
SwipeableItemWrapperAdapter was also saving the original item position - as a result the wrong flags were set in onBindViewHolder.  This was replaced with the swiped item's ID in the following patch (against commit 8f7af317cc93f566336f785341b93b2ec7f663b9): http://pastebin.com/FLUeLKa2

[2015-10-25 04:05] hroberts693 opened #136 "Item swipe completes after holder recycled"
The swipe action will continue even after the ViewHolder for the selected row is recycled - when this happens the ViewHolder provided to onSwipeItem may be invalid or bound to a different row.  Proposed fix - when the selected row's ViewHolder is recycled the swipe action is cancelled.

Base: commit 8f7af317cc93f566336f785341b93b2ec7f663b9 + http://pastebin.com/FLUeLKa2
Patch: http://pastebin.com/

[2015-10-25 04:24] h6ah4i commented on #136
Thanks, I'll take a look at it later.

[2015-10-26 07:38] livotov commented on #93
Im using this one for sticky headers feature - https://github.com/timehop/sticky-headers-recyclerview
Works fine with advrecyclerview stuff for me

[2015-10-26 08:24] vinayak-garg commented on #131
@h6ah4i Thanks for fixing this. I tried the branch and it is working great!

[2015-10-26 14:59] h6ah4i commented on #136
I've just released v0.8.3 and it includes your patches. Thank you ;)

[2015-10-26 14:59] #136 closed

[2015-10-26 15:00] h6ah4i commented on #133
I've just released v0.8.3 and it includes your patches. Thank you!

[2015-10-26 15:00] #133 closed

[2015-10-26 15:02] h6ah4i commented on #131
Fixed in v0.8.3.

@vinayak-garg Thank you for helping me again! I really appreciate it ;)

[2015-10-26 15:02] #131 closed

[2015-10-26 16:05] pixelbendr commented on #133
The app still crashes using the latest version of the support library. Does this update fix all those issues.

Sent from my iPhone 6

[2015-10-26 22:59] h6ah4i commented on #133
@pixelbendr Hi. Do you mean the exact same issue is still present? If so I will re-open this issue and continue disscussing about it, if not you should create a new issue report.

The issue #120 and #122 are still marked as open and I have not figured out whether they are just "questions" or "BUGs". I need more info to investigate them. Could you provide full of the stack trace dump or a sample pr

[2015-10-27 07:40] pixelbendr commented on #133
This is the stack trace

[code]

[2015-10-27 11:31] h6ah4i commented on #133
@pixelbendr That is a completely different issue. Please create a new issue and give me these additional info;

- output message of `./gradlew :app:dependencies`
- Android OS version

[2015-10-27 11:43] pixelbendr commented on #133
@h6ah4i I have reverted to the last working version. So I will create a new issue when I decide to upgrade. Thanks for this.

[2015-10-27 12:48] lushan1314 commented on #116
great！thank you very much

[2015-10-27 12:57] h6ah4i commented on #133
I think that was a version mismatching of the  support-v7-recyclerview library. The v23.1.0 has introduced a breaking change of RecyclerView.ItemAnimator. Maybe you were using the latest ARV library with old incompatible support-v7-recyclerview.

[2015-10-27 15:52] ivtoto opened #139 "Android Studio and version 0.8.3"
I'm trying to add your library to a project and when I'm building it I receive:

    FAILURE: Build failed with an exception.

    * What went wrong:
    Could not resolve all dependencies for configuration ':Android:aarLinkSources'.

Here is part of my main build.gradle:
[code]

And the module one:
[code]

Any idea of what's wrong, suggestion, solution or workaround?

Thanks in advance!

[2015-10-27 23:00] h6ah4i commented on #139
Hi. If you are using Android Studio 1.4, you do not need to use AARLinkSouces workaround any more. I will update the instruction on README later.

ref.) https://github.com/xujiaao/AARLinkSources

Thanks.

[2015-10-28 11:11] ivtoto commented on #139
Thanks for your response, it solved the issue :)
I really appreciate the your rapid response!

[2015-10-31 13:39] rommex opened #140 "Refrshing the RecyclerView"
Hi there, thanks for your great work!

Presently I have difficulty renewing Advanced RecyclerView. I change my data and then call:

mAdapter.notifyDataSetChanged();

Within Group items and Child items I have images. Sometimes they are refreshed, sometimes not. Please help

[2015-10-31 14:38] h6ah4i commented on #140
Hi @rommex . Could you upload an example project which can reproduce the same problem?

[2015-10-31 19:50] rommex commented on #140
I will post the project shortly, but what are your recommendations about refreshing this widget. Let's say, from the MainActivity level?

[2015-10-31 23:14] DarkVio opened #141 "Header and Footer"
Have the ability to add in your adapter Header and Footer ? snx

[2015-10-31 23:18] DarkVio commented on #140
I solved this problem creating a new onBindGroupViewHolder mProvider...

mProvider = new DataProvider();

[2015-11-01 20:29] rommex commented on #140
@h6ah4i, sorry didn't mention you at my previous comment

[2015-11-01 23:26] h6ah4i commented on #140
It seems that you have already know about how to refreshing RecyclerView properly.

Update data provider and then call `mAdapter.notifyDataSetChanged()`. The `onBindGropViewHolder()` and the `onBindChildViewHolder()` will be called for each items, so you can update item views in these methods.

[2015-11-01 23:32] h6ah4i commented on #141
Hi. This library does not provide header or footer items, but you can implement them by using the  itemViewType mechanism of RecyclerView. Please check the implentation of examples which has section items.

[2015-11-02 11:16] thefex opened #142 "Recycler View crash on destroy"
I occasionaly get nullreferenceexception on AdvancedRecyclerView destroy:
ex.
at Android.App.Activity.n_OnDestroy (intptr,intptr) <0x00037>
at (wrapper dynamic-method) object.074962f1-6e75-412c-88c2-d62d9b55af87 (intptr,intptr) <0x0003b>

  --- End of managed exception stack trace ---
java.lang.NullPointerException: Attempt to invoke virtual method 'int android.support.v7.widget.RecyclerView$Adapt

[2015-11-03 11:38] pixelbendr opened #144 "Horizontal Scroll View"
I have a horizontal scroll view in my view holder. And the problem is it doesn't scroll because of this library. How do the give the horizontal  scroll view priority and allow swiping when the scroll view has reached its end of scrolling. Please Help. :(

[2015-11-04 12:07] rommex commented on #140
Dear @h6ah4i , I beg your pardon.
I was trying to extract some portion of my code to showcase you the malfunction, but found out that I really messed with my background threads, which were making UI thread really slow.
You have a wonderful library, thanks again.
Can I delete this issue?

[2015-11-04 13:59] h6ah4i commented on #140
@rommex Hi. I am glad to hear from you that the issue has been solved! Could you close this issue report, please?

[2015-11-04 14:27] h6ah4i commented on #144
Hi. If you want to use swiping feature with horizontal layout, have to modify your adapter implementation.

##### Use  `*_UP`, `*_DOWN`, `*_TOP`,  `*_BOTTOM`, `*_V`

- **for Vertical layout**
 - `RESULT_SWIPED_[ LEFT | RIGHT ]`
 - `REACTION_CAN_NOT_SWIPE_[ LEFT | RIGHT ]`
 - `REACTION_CAN_NOT_SWIPE_[ LEFT | RIGHT ]_WITH_RUBBER_BAND_EFFECT`
 - `REACTION_CAN_SWIPE_[ LEFT | RIGHT ]`
 - `REACTION_MASK

[2015-11-04 14:43] #139 closed

[2015-11-04 14:43] #142 closed

[2015-11-04 14:46] #140 closed

[2015-11-05 11:24] thefex opened #145 "SwipeableItemWrapperAdapter.onViewRecycled crash"
My application logged another crash on activity destroy due to AdvancedRecyclerView (SwipeableItemWrapperAdapter.onViewRecycled)

java.lang.NullPointerException
	at com.h6ah4i.android.widget.advrecyclerview.swipeable.SwipeableItemWrapperAdapter.onViewRecycled(SwipeableItemWrapperAdapter.java:77)
	at android.support.v7.widget.RecyclerView$Recycler.dispatchViewRecycled(RecyclerView.java:4912)
	at an

[2015-11-05 11:57] h6ah4i commented on #145
Hi. Thank you for reporting the issue.

I will fix this ASAP, but maybe it can be avoided by calling `mRecyclerView.setAdapter(null)` in `onDestroyView()` of the inner ViewPager Fragment. Thanks.

[2015-11-05 12:28] thefex commented on #145
That's interesting what you are saying.
Basically I think we should change the way release methods works cause those null exceptions spawns over and over again.

I think we should use NullObject pattern - instead of "nullyfing" everything in onRelease - we should create Null Objects classes which would be empty implementations of proper interfaces (like RecyclerViewSwipeManager) and set private fi

[2015-11-05 14:00] thefex commented on #145
To reproduce the issue please enable "Don't keep activities option" in developer settings + go out and back from application on Activity where you use AdvancedRecyclerView

[2015-11-05 14:07] thefex commented on #145
Moving RecyclerView.setAdapter(null) before release methods works as workaround.

[2015-11-06 02:08] h6ah4i commented on #145
In my opinion, making a null object of the `RecyclerViewSwipeManager` class is not a good idea in this case. If I applying the null object pattern, I'd rather create a inner implementation class of the `SwipeableItemWrapperAdapter` (like `SwipeableItemWrapperAdapter.Impl` which handles all delegated processes of `SwipeableItemWrapperAdapter`) and replace it to null object in `onRelease()`.

Howeve

[2015-11-06 06:36] pixelbendr commented on #144
Please where should I do this?

[2015-11-06 08:02] h6ah4i commented on #144
where: Your adapter class which implements `SwipeableItemAdapter` interface.

[2015-11-06 09:51] pixelbendr commented on #144
Ok, thank you.

[2015-11-06 10:06] PomepuyN opened #147 "Swipe back an Item?"
Is there a way to programmatically swipe an item back to the normal state?

What I want to achieve is to let the user swipe an item, immediately apply the change and let the view go back in the standard position.

[2015-11-07 04:40] marcochin commented on #147
call mAdapter.notifyItemChanged(position) after you apply the change, which will call mAdapter.onBind() again for that view. In  onBind() iteration call holder.setSwipeItemHorizontalSlideAmount(0) which will reset the view back in its place.

[2015-11-07 07:50] h6ah4i commented on #147
@marcochin Thanks for answering.

**Additional info:**  Please check the demo app implementation. The "Swipeable" demo is doing it when a pinned item is clicked.

https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_s/SwipeableExampleActivity.java#L99

[2015-11-09 07:44] PomepuyN commented on #147
Thanks a lot to both of you. That's exactly what I was looking for.

[2015-11-11 06:20] Tanapruk opened #148 "Custom footer view can be dragged over"
I use itemViewType to create a footer view already and that footer cannot be dragged or swiped. But, I still can drag other item over the footer view and it changes position to the drag.

How can I disable the drag over on the footer view?

[2015-11-11 13:10] h6ah4i commented on #148
Hi. You can achieve that by overriding the `onGetItemDraggableRange()` method.

[code]

Please see the implementation of "Draggable with section" demo for the actual usage. Thanks!

ref.) https://github.com/h6ah4i/android-advancedrecyclerview/blob/master/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_d_with_section/MyDraggableWithSectionItemAdapter.java#L187

[2015-11-11 17:04] hrox commented on #70
Thank you for your reply!

[2015-11-11 23:05] Tanapruk commented on #148
Thank you

[2015-11-11 23:05] #148 closed

[2015-11-13 03:32] stephenmcbride opened #149 "Expand Indicator Not Animating on Android 6.0"
Only the expand animator (MorphButton) in the first row animates, the ones in the other rows do not animate. Reproduced on Nexus 5X and Genymotion Nexus 5X on sample downloaded from Play Store and on sample built from master.

[2015-11-13 12:54] h6ah4i commented on #149
Confirmed. It looks like a vector-compat library issue. I will try to implement a workaround later. Thanks!

ref.)  https://github.com/wnafee/vector-compat/issues/29

[2015-11-14 08:04] pixelbendr opened #150 "Recycler view Duplicate content"
Hello, my recycler view is showing duplicate content but I have enabled setHasStableIds(true); and given each created item a position by overriding getItemId. I need help. :(

[2015-11-15 01:42] h6ah4i commented on #150
Maybe, you can use `RecyclerView.NO_ID` for duplicated items if those items are no need to make swipeable and draggable. But I have not tested it yet, so it may not work properly :(

If you need to make those items swipeable or draggable, create wrapper items object which hold reference to the same actual item object internally and implement them return non duplicated IDs.

Thanks.

[2015-11-18 12:23] sosite commented on #129
Did you have a problem on start swipe or through all swipe animation?

I figure that on `SwipeableItemWrapperAdapter.java` at 242 line in `onSwipeItemStarted` lib notify data set changed to all adapter (`notifyDataSetChanged`) in place of notify just specify position.

I guess that simple change it to: `notifyItemSetChanged(holder.getAdapterPosition());` in lib will be enough.

Also you can try to

[2015-11-18 12:30] sosite commented on #102
look at https://github.com/h6ah4i/android-advancedrecyclerview/issues/1

[2015-11-18 12:45] AndroidDeveloperLB commented on #102
Nice, so now it has it?
I also forgot: Does this library have support for headers/footers?

[2015-11-19 00:39] h6ah4i commented on #102
Hi. This library does not have sticky headers yet. Also headers and footers are not supported.

related: Header and Footer #141

[2015-11-19 04:09] silviahisham commented on #1
+1

[2015-11-19 07:36] AndroidDeveloperLB commented on #102
oh ok. Thanks.

[2015-11-19 17:38] csbenz commented on #1
+1

[2015-11-23 09:10] christianlanz opened #151 "NPE in BaseWrapperAdapter"
This is the error message I received:

Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'int android.support.v7.widget.RecyclerView$Adapter.getItemCount()' on a null object reference

Here you can find the stack trace: http://pastebin.com/yM6RMtQV

Looks like there is a bug in your library - check out the strack trace and please fix!

BR,
Christian

[2015-11-23 12:54] h6ah4i commented on #145
Hi. I have just released v0.8.5. This issue has been fixed.

[2015-11-23 12:54] #145 closed

[2015-11-23 12:58] h6ah4i commented on #149
Hi. I have just released v0.8.5. I have changed the indicator implementation not to use the vector-compat library.

- vector-compat is incompatible with the latest Gradle plugin
- vector-compat is not working properly on Marshmallow

I decided to use native VectorDrawable since v0.8.5 demo app, so indicators will not animate on KitKat or older Android.

[2015-11-23 12:58] #149 closed

[2015-11-23 13:01] h6ah4i commented on #151
Hi. This issue is the same as #145. Please try the latest v0.8.5 library I have just released.

[2015-11-23 13:01] #151 closed

[2015-11-23 20:44] stephenmcbride commented on #149
Cool thanks for following up on this issue and for your work on this lib!

[2015-11-25 04:54] oceancx opened #152 "bug:Samsung S3 4.1.1(genymotion) with swipe left"
support library version:23.1.1
recyclerView version:23.1.1
android-advancedrecyclerview version:0.8.5
when i swipe left,the item shift left,and i swipe back,there is grey background remainning in the item paddingLeft region.Google Nexues 5.1(genymotion ) don't have this issue

[2015-11-26 08:18] oceancx opened #153 "Bug:happens as the user dragging,and the item root view's margin is set"
support library version:23.1.1
recyclerView version:23.1.1
android-advancedrecyclerview  version:0.8.5
when item root view's marginleft or marginright is set,once the dragging is started,the item view will translateX marginleft's value immdediately

[2015-11-27 07:37] goceancx opened #154 "Bug: happens on Sumsung S3 4.1.1(genymotion),when the user remove items frequently and quickly"
support library version:23.1.1
recyclerView version:23.1.1
Log:

11-27 07:33:28.467 3039-3039/com.test.mioji_support D/InCityDetailEditAdapter: onSwipeChildItem(groupPosition = 0, childPosition = 3, result = 2)
11-27 07:33:28.483 3039-3039/com.test.mioji_support D/AndroidRuntime: Shutting down VM
11-27 07:33:28.483 3039-3039/com.test.mioji_support W/dalvikvm: threadid=1: thread exiting with uncaug

[2015-11-27 07:39] oceancx commented on #154
support library version:23.1.1
recyclerView version:23.1.1

[2015-11-27 15:51] GauthierRoomDotMe opened #155 "Programmatically swipe an item ?"
Is there a way to programmatically swipe from unpin to pin state ?

What I want to achieve is to let the user click an unpinned item, having an animation that swipe the item to left for half its size and then if the user click again on the item it swipes to the unpin state.

Thanks to the example I achieved to the later part by simply using item.setPinned(false); and notifying the adapter. It anim

[2015-12-01 23:50] csbenz opened #156 "Add method to set "supportsPredictiveItemAnimations""
I have a bug in my app and found a solution that requires overriding a RecyclerView method, which can't be done.
Could you add a setter to fix this?
See kink below for explanation :
http://stackoverflow.com/a/33985508

[2015-12-02 19:17] yarolegovich opened #157 "Shadow question"
Hi, I'm looking through examples and can't understand how it works
[code]
Here you reference R.drawable.material_shadow_z1, that looks like this
[code]
But where does @drawable/material_shadow_z1_xhdpi exist?

[2015-12-02 23:10] h6ah4i commented on #157
Hi. Take a look into the `drawable-nodpi` directory.

https://github.com/h6ah4i/android-advancedrecyclerview/tree/master/example/src/main/res/drawable-nodpi

Some minor density version of `material_shadow_z1` share a same ninepatch file.

- ldpi, tvdpi, hdpi  -> mdpi

Thanks.

[2015-12-02 23:20] yarolegovich commented on #157
Thanks

[2015-12-02 23:20] #157 closed

[2015-12-02 23:37] h6ah4i commented on #156
Hi. A Google enngineer has already identified the bug, and has already fixing it. Please check the bottom of the following thread. (workaround code is also presented.)

https://code.google.com/p/android/issues/detail?can=1&q=77846&colspec=ID%20Type%20Status%20Owner%20Summary%20Stars&id=77846

[2015-12-02 23:56] h6ah4i commented on #155
Hi. Unfortunately, it requires adding a new method to update item pinned state with animation :( I will add it, but it takes time because I have been tied up with work...

[2015-12-03 16:27] hexise opened #158 "NPE in 0.8.5"
I found a NPE exception when I upgrade my library to 0.8.5. Here is the trace, this error seems not happen when I use version 0.8.0. And this problem happens on both Android 4.x and 5.x.

Caused by java.lang.NullPointerException
       at com.h6ah4i.android.widget.advrecyclerview.draggable.RecyclerViewDragDropManager.handleActionUpOrCancel(RecyclerViewDragDropManager.java:746)
       at com.h6ah4i

[2015-12-03 19:35] faultylogic opened #159 "swiping on any item only moves index 1"
Only the first item show a swiping animation no matter the position.

[2015-12-03 22:55] h6ah4i commented on #159
Hi. Have you implemented  the `getItemId()` method of your adapter class? It should returns unique number among each items and the number must be stable (must not be changed even after removed or reordered). Thanks.

[2015-12-04 00:47] h6ah4i commented on #158
Hi. Do you calling the `cancelDrag()` method after calling the `release()` method?

https://github.com/h6ah4i/android-advancedrecyclerview/blob/0.8.5/library/src/main/java/com/h6ah4i/android/widget/advrecyclerview/draggable/RecyclerViewDragDropManager.java#L746

It seems that NPE can be occurred by the following conditions;

- after the `release()` method has been called
- before calling the `atta

[2015-12-04 06:15] rusmatreshka opened #160 "Crash of app with v0.8.5"
I've only included this line:
compile ('com.h6ah4i.android.widget.advrecyclerview:advrecyclerview:0.8.5@aar'){
        transitive = true;
    }
in my gradle and app start to crash with this stack trace:
12-04 01:11:05.490 30925-30925/com.voodoomobile.friendzone E/AndroidRuntime: FATAL EXCEPTION: main
                                                                             Process: com.voodoomo

[2015-12-04 13:12] faultylogic commented on #159
Thanks that seems to have fixed my issue much appreciated :+1:

[2015-12-04 13:13] #159 closed

[2015-12-05 08:49] oceancx commented on #154
can you explain something about this issue,maybe i can modify it by myself for an quick fix solution

[2015-12-05 08:49] oceancx commented on #152
can you explain something about this issue,maybe i can modify it by myself for an quick fix solution

[2015-12-05 09:24] h6ah4i commented on #152
@oceancx Sorry, I have no idea about this issue. Also I have been busy with work and have not tried to reproduce it myself.

[2015-12-05 09:25] h6ah4i commented on #154
@oceancx Sorry, I have no idea about this issue. Also I have been busy with work and have not tried to reproduce it myself.

[2015-12-05 11:15] AndrejSperling opened #161 "How can i get the isAllExpanded / isAllCollapsed methods? Question"
How can i get the isAllExpanded / isAllCollapsed methods from ExpandablePositionTranslator.java class, since ExpandableRecyclerViewWrapperAdapter dont provide a public method?

[2015-12-05 12:11] h6ah4i commented on #161
Hi. Unfortunately, there is no way to call those methods for now.

I think it is a good idea adding these methods to `RecyclerViewExpandableItemManager`.

- `getExpandedGroupsCount()`
- `isAllGroupsExpanded()`
- `isAllGroupsCollapsed()`

[2015-12-05 12:44] AndrejSperling commented on #161
Thanks! =)

[2015-12-09 06:21] hexise commented on #158
No, I call cancelDrag() from onPause() method, and release() from onDestory() method. onPause() should be invoked earlier than onDestroy().

[2015-12-09 06:25] hexise commented on #158
Hello, I think I found the problem according your comment:

I only attach the drag and drop manager to recycler view after my data retrieved(I receive data from my service, so this happens in onServiceConnected() method). Maybe onPause() happens before attachRecyclerView(), so make this problem happen. I will add a check in onPause() method to avoid this kind of problem, I think it should be solve

[2015-12-10 00:24] FreakTheMighty opened #162 "Help understanding IllegalStateException"
I have implemented a "swipe to reveal button" interface and was playing around with the swipe gesture in my application. I'm having trouble replicating the issue, but one time I crashed the application while swiping. Unfortunately I don't think I will be able to upload a minimal failing example, but was hoping you might be able to point me in the right direction for fixing the problem.

Versions
[

[2015-12-12 05:10] marcochin opened #163 "Dragging with only 2 items in list lags significantly more than if it had more than 2 items.."
![two_item_lag](https://cloud.githubusercontent.com/assets/11529866/11760283/7eeebb64-a04a-11e5-95dc-a5d6b6f8bda9.png)

Note: Item 1 is larger then the rest of the items.

In Fig. A, if I play around by dragging item 2 over item 1 and back again (not letting go of drag in the process), you will see a noticeable stop in the animation as if something were blocking it. This "blockage" disappears when

[2015-12-12 08:45] h6ah4i commented on #163
Hi. Thanks for reporting the issue. I will take a look at it.

[2015-12-12 08:59] h6ah4i commented on #160
Hi. I think the crash stack trace seems something weird...

The only thing that may cause the problem is the version of `appcompat-v7` and `recyclerview-v7` libraries. I have updated those libraries to v23.1.1 since Advanced RecyclerView v0.8.5.

Try the following code in your `build.gradle`, it specifies to use `appcompat-v7` and `recyclerview-v7` **v23.1.0** with Advanced RecyclerView **v0.8.5**

[2015-12-12 09:17] h6ah4i commented on #162
Hi. Thanks for reporting the issue.

I am not sure what is the cause of this problem, but I guess it is related to the item view recycling mechanism. This library has a bug until v0.8.3 which is triggered when item view is recycled during swipe animation is still running.

ref.) Item swipe completes after holder recycled #136

BTW, why are you still using old version of this library? Is there any

[2015-12-13 15:37] h6ah4i commented on #158
Hi. I have just added a null check before using mHandler inside of `RecyclerViewDragDropManager` (*). Because the `cancelDrag()` method is invoked inside of the `release()` method and I think this method should be always safe.

(*) commit: 004f6e20bfed6dc2a2cd190542ca2cd3a43fbd25

The above commit will be included to next release, so I keep this issue open until then. Thanks!

[2015-12-14 06:57] wliu6v opened #164 "java.lang.IllegalStateException: Added View has RecyclerView as parent but view is not a real child. Unfiltered index:0"
Hi, I use expandable and draggable adapter in my app. Some users crashed when use my app, but I can't response this crash.

Here's the crash log, I want to know if there's any other people has this crash? And how to solve it?

[code]

[2015-12-14 18:17] hexise commented on #158
Thank you!

[2015-12-15 17:58] GauthierRoomDotMe commented on #164
I had the same error when using the Swipe adapter and removing/adding elements.
It was related to duplicate IDs given to items. (2 items had the same ID, if I clicked on the second item -> crash).

Once I made sure every IDs were unique everything worked fine.

Hope it helps you.

[2015-12-16 00:13] FreakTheMighty commented on #162
Hi @h6ah4i , I've been holding off upgrading until I have a little more bandwidth to handle any migration issues. The problem hasn't presented itself frequently, so I can afford to put the upgrade off for a little bit.

Thank you for your response. I'm going to close this. I"ll reopen it if I find it in later versions.

[2015-12-16 00:14] #162 closed

[2015-12-17 06:52] wliu6v commented on #164
@GauthierRoomDotMe  Thanks for your reply.

I think I had already fixed this problem. It caused by something in `onCreateGroupViewHolder` . I had some wrong code when creating view.

Seems it not related to item id. The item id in my code is like below:

[code]

What's your meaning of `duplicate IDs` ? I think use the position as the id is OK.

[2015-12-17 06:52] #164 closed

[2015-12-20 15:03] h6ah4i commented on #160
@rusmatreshka Hi. Have you solved this issue?

[2015-12-21 09:04] mdvoretskiy commented on #155
Same problem appears when item automatically goes to unpined state when swiping ("Button under swipeable item" in demo).

[2016-01-04 21:11] tprochazka opened #167 "Swype to dismiss with undo like current gmail app"
Do you have in plan to add swipe to dismiss with undo like current gmail? With undo action instead of original item?

[2016-01-07 05:25] jackellenberger commented on #155
@GauthierRoomDotMe To clarify, does holder.setSwipeItemHorizontalSlideAmount(-0.5f); actually do anything for you? It seems like my mHorizontalSlideAmount gets updated, but nothing actually moves.

[2016-01-07 10:24] GauthierRoomDotMe commented on #155
@jackellenberger Yes holder.setSwipeItemHorizontalSlideAmount(-0.5f); works fine with me.

Do you set holder.setMaxLeftSwipeAmount(MAX_LEFT_SWIPE); before calling it ? it must be equal or less than -0.5f in our case.

[2016-01-07 17:50] NSouth opened #168 "How do I change the animation speed?"
I would like to speed up the expand/collapse animation, but can't find where to edit this value in the source code. Is this possible?
Thanks!

[2016-01-08 04:23] jackellenberger commented on #155
I never ended up getting that working (looking at it now, I think it was because I was using GroupSwipeRightResultAction instead of Left or something), but instead set up an animation:

`
holder.mContainer.animate().translationX(-holder.mContainer.getWidth())
                            .setDuration(mShortAnimationDuration)
                            .setListener(removerListener);
`

removerListe

[2016-01-11 14:38] h6ah4i commented on #168
Hi. You can use the `ItemAnimator.setMoveDuration()` method for setting up expand/collapse animation speed.

[RecyclerView.ItemAnimator | Android Developers](http://developer.android.com/reference/android/support/v7/widget/RecyclerView.ItemAnimator.html#setMoveDuration(long))

[2016-01-11 15:55] h6ah4i commented on #167
Hi. I have just created a experimental branch which supports Gmail like swipe action. However, I noticed that the feature was not so easy that I thought first and it takes a little more time. I will add it in future version, but I cannot say when it will finish because I have been busy with work :(

- [https://github.com/h6ah4i/android-advancedrecyclerview/tree/feature/experimental_multi_swipe_sup

[2016-01-12 11:26] Sankeet opened #169 "Implemention"
Hi,

I'm looking to add this library into my project but I'm at a loss as to where to start. The sample code is way to much for me to go through. I have simple expandable card in a list.

Anyone Can Help?

[2016-01-13 15:47] okaa-pi opened #170 "Swipe state not working properly"
Hi!

First of all, I'm sorry if I make mistakes but english is not my first language, so I'll do my best to explain what is the problem.

I have a recyclerview with two different viewtypes, headers and items.

The items should be swipeable left and right. Both actions should delete the item from the list.

What I'm able to do:
Get the swipe on the items, from left and right, with colors, and actio

[2016-01-13 23:49] jackellenberger opened #171 "Remove Separators"
Is there a way currently to remove separators between recycler view items? At the moment when the recyclerview has items one on top of another, there appears to be a 1px or so grey line. With ListViews one can use
[code]
or
`android:divider="@null"` in xml. Is there something similar already implemented?

[2016-01-20 02:52] h6ah4i commented on #171
Hi. `RecyclerView` does not have has native item divider feature, instead it provides more flexible mechanism called `ItemDecoration`. The demo app uses `SimpleListDividerDecorator` class to draw item dividers, so if you want to hide them just remove the line attaching the decorator to `RecyclerView`.

[code]

[2016-01-20 02:52] #171 closed

[2016-01-20 10:08] luminousman opened #172 "swipe issue when used SwipeRefreshLayout"
<android.support.v4.widget.SwipeRefreshLayout  xmlns:android="http://schemas.android.com/apk/res/android"
            android:id="@+id/mSwipeRefreshLayout"
            android:layout_width="match_parent"
            android:layout_height="match_parent">

                <android.support.v7.widget.RecyclerView
                    android:id="@+id/recyclerSearchResult"
                    style="@st

[2016-01-21 13:59] mkrcpp opened #173 "crash bugs"
com.jdhome.modules.home.HomeFragment.onPause(HomeFragment.java:131)
[code]

which is in "mRecyclerViewDragDropManager.cancelDrag();"  got the error.

[code]

[2016-01-22 11:00] Amiit-Kkumar opened #174 "Remove parent if all the child items are swiped."
After swiping the last child item I want my parent to be removed from recyclerview , I am deleting the parent from List but its crashing because of notifydatasetchanged, how can I programmatically delete the parent?

[2016-01-23 02:21] h6ah4i commented on #169
Hi. Sorry for the late reply :disappointed:

Please check the implementation of "Expandable" demo. Most of its code is placed in the `demo_e` directory.

https://github.com/h6ah4i/android-advancedrecyclerview/tree/master/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_e

[2016-01-23 02:30] h6ah4i commented on #170
Hi. Sorry for the late reply :disappointed:

Have you implemented the `getItemId()` method as it returns **stable* ID for each items? The app behavior looks like the `getItemId()` method returns just a `position`.

[code]

[2016-01-23 02:31] h6ah4i commented on #173
Thanks for the report. I will take it a look.

[2016-01-23 02:33] h6ah4i commented on #172
Thanks for your report. I will take it a look.

[2016-01-23 02:37] h6ah4i commented on #174
Hi. Please check the issue #70, I have posted a sample code which handles the same problem. However the issue #70 is written for a bit old version of this library, so I will port it for the latest version later.

[2016-01-24 10:42] siavashabdoli opened #175 "fragment scrolled to top"
I have xml like this:

    <LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
        <ScrollView
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/scrollView1">

[2016-01-24 10:43] siavashabdoli commented on #175
actually I want to have some layout above of my recycler view, if there is clearer way let me know :)

[2016-01-24 13:15] okaa-pi commented on #170
No problem for the late reply dude. We all have work to do.

You're right, I was returning the position. Never really used the ID before.
I changed it to return the hashcode of the item's BDD ID.

It works now! You're a genius! Thanks a lot ;)

[2016-01-24 13:15] #170 closed

[2016-01-25 13:43] livotov commented on #172
Yep, can confirm the same. Basically, when you're trying to swipe an item with the SwipeRefreshLayout installed into the same activity/fragment, item swipe action becomes cancelled on any non strictly horizontal finger movement (even small one) - looks like SwipeRefreshLayout intercepts the events and starts processing pull to refresh gesture

[2016-01-27 04:06] mkrcpp commented on #173
It is my pleasure, this bug happened just one time,when I want to move item.
 I kill the app process and reopen the app, and everything normally, but when I move item,got the error.
I am surly mRecyclerViewDragDropManager is not null .

thank you for your android-advancedrecyclerview, I really like it .

[2016-01-27 12:58] mkrcpp opened #176 "NullPointerException"
report  2 crashes by buglly I used.
and not every time crash
on PE-TL20(Huawei)  Android 4.4.2,level 19  and no root .

link is http://bugly.qq.com/share/KH1eSp

[code]

[2016-01-27 13:01] mkrcpp commented on #173
I find another bug
https://github.com/h6ah4i/android-advancedrecyclerview/issues/176

[2016-01-27 17:39] rommex opened #177 "Question: borders and shadows are lost in Android 5.1"
Cards have border and shadows in Android 4.4 but in Lollipop they are gone. I must be doing smth wrong but could you help please?

[2016-01-27 22:47] h6ah4i commented on #177
Hi. The example app uses `android:elevation` attribute with `android:outlineProvider="bounds"`.

https://github.com/h6ah4i/android-advancedrecyclerview/blob/ff7e2290461f2aee04a850aba30e947965d2b815/example/src/main/res/values-v21/styles.xml#L18

Also you can use `ItemShadowDecorator` for API level 21+ which is used for older API level devices.

https://github.com/h6ah4i/android-advancedrecyclervie

[2016-01-27 23:15] h6ah4i commented on #176
Hi. This issue seems the same as issue #158.

- NPE in 0.8.5 (#158)

[2016-01-27 23:15] h6ah4i commented on #173
Hi. This issue seems the same as issue #158.

- NPE in 0.8.5 (#158)

[2016-01-28 03:29] mkrcpp commented on #176
Oh，
My fragment is in viewpager,
I will try add the code below in activity where the viewpager in
[code]
and add null check
[code]

all my fragment is
[code]

I will follow the bug and look forward to the new version 0.8.6

[code]

thank you sir :)

[2016-01-28 07:05] shobayr opened #178 "How to install pull to refresh library"
Hi , first tnx from this library ,
I have a problem , and that is how and where i can install pull to refresh libraries like https://github.com/Yalantis/Phoenix and any library like this ?

I did it in rootlayout with id container , but it works with many bugs because these libraries should be used in top of RecyclerView or ListView not Layout

Many tnx

[2016-01-28 08:59] cookieKeks opened #179 "No notification when item is dropped to initial position"
Hi,
I am using your drag and drop feature in a GridView. To prevent the screen from rotating while an item is dragged I lock the screen to the current rotation in DraggableItemAdapter.onCheckCanStartDrag and unlock it in DraggableItemAdapter.onMoveItem in my implementation of the DraggableItemAdapter. However I don't get a call to onMoveItem if the from-position and the to-position are equal, so I

[2016-01-28 14:41] nico281 opened #180 "Help!!"
Hi, i have problems to make the recycleview to implementdrag and drop.the recycle loads but i dont have dragdrop. I follow the drag and drop tutorial and the only change i made is de data source. I simple use a list of objects but i dont know if i need to implement a dataprovider like the demo to make it work.
mi adapter:

[MyDraggableItemAdapter.txt](https://github.com/h6ah4i/android-advancedrecy

[2016-01-28 23:21] andre99 commented on #180
Hello Nico,
I'm having the same problem here. I will let you know if I found a fix. If you find anything, please let me know.

[2016-01-29 04:14] nico281 commented on #180
thx you, if i find something ill let you know

[2016-01-29 06:52] adnanebrahimi opened #181 "need an Alert Dialog before deleting an item"
Hello,
First of all i want to thank you for your awesome work, it's really amazing!.
i need my app to ask for deletion before performing an Action on onSwipeResult, But when i implement it it's throw NPE:
`

 private static class ChildSwipeRightResultAction extends SwipeResultActionRemoveItem {
        private final int mGroupPosition;
        private final int mChildPosition;
        private Comp

[2016-01-29 08:46] cookieKeks commented on #180
When I download your main.txt then it has the same content as MyDraggableItemAdapter.txt...
Did you test your code in onCheckCanStartDrag ? Does it return true when it should be?

[2016-01-29 09:23] adnanebrahimi commented on #12
this 1-5 features is all that i need to implement but i stock at 1 , 4  and 5

[2016-01-29 11:37] nico281 commented on #180
Hi cookie, I followed the drag and drop example, the difference is that i dont use a data provider.
No, i dont test my code in onCheck, i will try it and comment again

[2016-01-29 11:45] nico281 commented on #180
that method is on the adapter and it has this code
@Override
    public boolean onCheckCanStartDrag(MyViewHolder holder, int position, int x, int y) {
        // x, y --- relative from the itemView's top-left
        final View containerView = holder.mContainer;
        final View dragHandleView = holder.mDragHandle;
        final int offsetX = containerView.getLeft() + (int) (ViewCompat.getTransl

[2016-01-29 11:58] nico281 commented on #180
[main.txt](https://github.com/h6ah4i/android-advancedrecyclerview/files/109671/main.txt)
this is the code on my main activity

[2016-01-29 13:16] nico281 commented on #180
well i find a solution. my problem was on the viewHolder. my viewHolder class  was extending RecyclerView.ViewHolder so i change it to AbstractDraggableItemViewHolder and the recycle start to drag.
 Now the problem is that the animation is not correct. when i swipe between to elements, it swipes ok but the animation run backwards like the item cannot move it to that pos.
Any ideas?

[2016-01-29 14:49] rommex commented on #177
Thank you!

[2016-01-29 14:49] #177 closed

[2016-01-31 00:03] andre99 commented on #180
Just to let you know that my problem was caused by a missing setHasStableIds(true).

[2016-01-31 04:18] nico281 commented on #180
thx but i already have that. Now the problem i have is the animation.
When i drag and drop one element aparently it change position but the animation of the element don't stay in the new position, the animation run backwards to the original position the element, but the text changed.
I dont have idea what i'm missing

[2016-01-31 13:12] h6ah4i commented on #179
Hi. You can use `RecyclerViewDragDropManager.OnItemDragEventListener` to observe drag & drop event. It provides `onItemDragStarted()` and `onItemDragFinished()` callbacks that you are looking for :wink:

[code]

[2016-01-31 13:23] h6ah4i commented on #181
Hi. I suggest you to use `SwipeResultActionMoveToSwipedDirection` instead of `SwipeResultActionRemoveItem`. Because the `SwipeResultActionMoveToSwipedDirection` class expects immediately remove the swiped item inside of the `onPerformAction()` method.

[2016-01-31 13:35] h6ah4i commented on #180
@nico281 Sorry for the late reply. I took a look at your code and found an implementation issue which causes wrong animation problem.

The `getItemId()` method is not implemented properly because it currently returns **not stable** value. Stable means it have to keep the same value even if the item's position has been changed.

[code]

related issues:
- Swipe state not working properly #170
- swip

[2016-01-31 14:55] h6ah4i commented on #175
Hi. That seems not my library issue. I found a helpful post on StackOverflow and it solve the problem.

#### Solution

Add `android:descendantFocusability="blocksDescendants"` attribute to the `RelativeLayout` of container view for Fragments.

[code]

---

ref.) [How to prevent a scrollview from scrolling to a webview after data is loaded?](http://stackoverflow.com/questions/9842494/how-to-prevent

[2016-01-31 15:48] Apisov opened #182 "How to collapse children in code?"

[2016-01-31 17:24] nico281 commented on #180
Thx, work almost fine. now the problem is if i drag and drop an adjacent itemit works correct but if i jump the adjacent not.

 here is the demonstration.

[video-1454258265.mp4.zip](https://github.com/h6ah4i/android-advancedrecyclerview/files/111394/video-1454258265.mp4.zip)

[2016-01-31 17:56] nico281 commented on #180
ok i thik my problem is my onMoveItem

[2016-02-01 00:34] h6ah4i commented on #182
Hi. You can use these methods of the `RecyclerViewExpandableItemManager`.

- `collapseGroup(int groupPosition)`
- `collapseAll()`

[2016-02-01 04:25] h6ah4i commented on #180
@nico281 Could you upload the latest code of your adapter?

[2016-02-01 07:22] siavashabdoli commented on #175
It works. thanks a lot ;)

[2016-02-01 07:52] nafuto opened #183 "Tutorial - "How to add SWIPEABLE feature to your adapter""
It took me a long time to understand why my adapter doesn't work without `setHasStableIds(true)` in adapter contructor.
I think you should add that line to your tutorial! Thanks.

[2016-02-01 10:46] cookieKeks commented on #179
Thank you very much! That solved it.

[2016-02-01 10:46] #179 closed

[2016-02-01 15:08] juniorJaffa opened #184 "GPlay Analytics craches with AdvancerRecycylerView"
Hi,
Significantly Google Play service-analytics and this advanced recycler view does not work together.
I tried this dependency variously up and down to assure and really these two dependencies makes bug.
AndroidRuntime: FATAL EXCEPTION: main  java.lang.NoClassDefFoundError:
sk.doxxbet.analytics.AnalyticsTrackers$1
build.gradle
compile 'com.google.android.gms:play-services-analytics:8.4.0'
.
.
com

[2016-02-01 15:26] afeozzz opened #185 "Custom interpolator"
Is it real to implement a custom interpolator, like a bounce ?

[2016-02-01 17:39] #185 closed

[2016-02-02 00:39] h6ah4i commented on #184
Hi. Thank you for the report. I will check this as soon as possible.

[2016-02-02 07:16] americosfacebook opened #186 "when import dependencies thorw Error of multiDex"

[2016-02-02 15:14] h6ah4i commented on #186
Hi. The cause of this issue seems not the Advanced RecyclerView library.

Have you tried these solutions which can be found on StackOverflow?

- [Execution failed for task ':app:transformClassesWithDexForDebug' while implementing Google sign in for Android](http://stackoverflow.com/questions/33369163/execution-failed-for-task-apptransformclasseswithdexfordebug-while-implement)
- [UNEXPECTED TOP-LE

[2016-02-02 16:01] h6ah4i commented on #184
@juniorJaffa Could you give me some additional info to investigate the issue? I cannot reproduce the same issue on my setup; I have an app project which uses `play-services-analytics:8.4.0` and `advrecyclerview:0.8.2`, I confirmed it works fine without any problems.

- Gradle version
- Version of Gradle Plugin for Android ()
- Android Build Tools version
- compileSdkVersion
- Dump of `./gradlew ap

[2016-02-03 16:48] #129 closed

[2016-02-03 21:22] pytel87 commented on #1
+1

[2016-02-06 07:24] BlackAngel1991 opened #187 "get current dragging item in setOnItemDragEventListener"
i'm using `onLongPress` for start dragging,what i want do is to check if item position is chganged or not and if its not changed do something.
using  `setOnItemDragEventListener` i have 3 mothod i needed but i cant figure out how get current dragged item in these methods.

[2016-02-07 05:02] h6ah4i commented on #187
Hi. Have you checked the declaration of the `OnItemDragEventListener`?

[code]

OK, I'll give some examples how the listener works.

---
### example scenario - 1

1. Long press the first item
2. After entering to dragging state, move the item (slowly) to position 3
3. Release the finger on position 3

#### how OnItemDragEventListener works

1. Long press the first item
   - `onItemDragStarted(posi

[2016-02-07 05:15] #175 closed

[2016-02-07 07:15] #132 closed

[2016-02-07 07:19] BlackAngel1991 commented on #187
ty @h6ah4i i think i explained my question really bad.
i know how to find out position is changed or not (its done as you described), what need is to get the item and viewHolder that currently is dragging, i want to change something on that view and get information after change.
for example user do longPress but wont start dragging after releasing item,user can change name of that item (a EditText

[2016-02-07 08:29] h6ah4i commented on #178
@shobayr Hi. I made a forked version of Phoenix example integrated with Advanced RecyclerView. Can you try this and please let me know if you found any issues. Thanks!

https://github.com/h6ah4i/Phoenix/tree/advrecyclerview_integration_demo

[2016-02-07 08:46] h6ah4i commented on #187
@BlackAngel1991

Those features are not provided by this library. But...

Obtaining a view holder from position is a common technique of `RecyclerView`. You can use the [`RecyclerView.findViewHolderForAdapterPosition()`](http://developer.android.com/reference/android/support/v7/widget/RecyclerView.html#findViewHolderForAdapterPosition(int)) method.

Obtaining an item from position is not provided

[2016-02-07 10:12] BlackAngel1991 commented on #187
unfortunately `RecyclerView.findViewHolderForAdapterPosition()` return null value.
and im afraid this method :
[code]

[2016-02-07 12:51] BlackAngel1991 commented on #187
@h6ah4i
as a workaround for my problem i modified `OnItemDragEventListener` and passed `mDraggingItemViewHolder` as a parameter to it.
i changed :
`public void onItemDragFinished(int fromPosition, int toPosition, boolean result)`
to
```public void onItemDragFinished(int fromPosition, int toPosition, boolean result,,RecyclerView.ViewHolder holder)```

[2016-02-07 13:30] h6ah4i commented on #187
@BlackAngel1991 I have just pushed an modified master branch that added how to handle drag & drop event listener with expandable list. Check the following code and please let me know if you have more questions about it ;)

https://github.com/h6ah4i/android-advancedrecyclerview/blob/demo_issue_187/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_eds/RecyclerListViewFragment.jav

[2016-02-08 00:16] #152 closed

[2016-02-08 00:16] #153 closed

[2016-02-08 00:16] #158 closed

[2016-02-08 00:16] #161 closed

[2016-02-08 00:16] #163 closed

[2016-02-08 00:16] #173 closed

[2016-02-08 00:16] #176 closed

[2016-02-08 06:50] BlackAngel1991 commented on #187
wow @h6ah4i that's exactly what i needed . thank you so much for answering, you are awesome.

[2016-02-08 12:07] krtec opened #188 "Reload data in recyclerview"
Hi, i have recyclerview with advanced recycler view for drag and drop system. When i create recycler with data that is OK, but if i reload a data by

        mRecyclerView.swapAdapter(gridviewAdapterItems, false);
        gridviewAdapterItems = new GridViewAdapterItems(products, MyApplication.getAppContext());
        mRecyclerView.setAdapter(gridviewAdapterItems);
        mRecyclerView.invalidate

[2016-02-09 07:04] BlackAngel1991 opened #189 "getExpandablePosition return nonvalid value"
@h6ah4i
i used the example that u gave in issue #187 for handling drag & drop event listener,
but in situation like this :
![expandablecrash](https://cloud.githubusercontent.com/assets/6916349/12909460/51d6fb6e-cf16-11e5-9e2a-71a697bca153.png)

the other groups don't have any child and when i try to drag a child from Family group to one of other group, app will crash on :
`mDataProvider.getChildIt

[2016-02-09 08:00] #189 closed

[2016-02-09 08:42] manuel-sejourne opened #190 "Crash isGroupExpanded Need a fix"
Hi !

In my app users have an issue with your library, you can find the stacktrace below : **# ArrayIndexOutOfBoundsException
com.h6ah4i.android.widget.advrecyclerview.expandable.ExpandablePositionTranslator.isGroupExpanded(SourceFile:185)**
ArrayIndexOutOfBoundsException
com.h6ah4i.android.widget.advrecyclerview.expandable.ExpandablePositionTranslator.isGroupExpanded(SourceFile:185)**

java.lang.

[2016-02-09 08:47] BlackAngel1991 commented on #189
i found out its better to handle changing data in [moveChildItem](https://github.com/h6ah4i/android-advancedrecyclerview/blob/demo_issue_187/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/common/data/AbstractExpandableDataProvider.java#L45) and its works great.

[2016-02-09 10:29] BlackAngel1991 opened #191 "after Longpress(Draggable item) how can i find out that item is moved or not?"
i want know how can i find out that after entering in draggable  state with OnLongPress, item moved or not,
i know i cant check item position in `setOnItemDragEventListener` but i want to check item top position is changed or not.

[2016-02-09 13:27] Apisov commented on #182
Thank you a lot.
And thank you for this great library.

[2016-02-09 13:27] #182 closed

[2016-02-11 14:52] h6ah4i commented on #190
Hi. Thanks for the issue report. However I do not have any ideas to reproduce the same bug. Could you upload a sample code?

[2016-02-11 15:29] h6ah4i commented on #188
Hi. If you want to swap data set by using `setAdapter()`/`swapAdapter()` , need to recreate a wrapped adapter again.

[code]

Also, `setItems()` and `notifyDataSetChanged()` method approach can be used.

[code]

[2016-02-11 15:49] h6ah4i commented on #191
Hi. Why do you need to know dragging items's top position? Is it not enough to check whether the `onItemDragPositionChanged()` callback is called or not?

[2016-02-12 18:53] BlackAngel1991 commented on #191
hi @h6ah4i. `onItemDragPositionChanged` callback  only called when 2 items swap operation happen.
for example if user drag an item, when he drag it over another item `onItemDragPositionChanged` will be called but if he just move it a little (not over another item), `onItemDragPositionChanged` wont be called.
as i mentioned in my last question ( #187 ) i want to do this :
after item is released,if

[2016-02-13 01:09] h6ah4i commented on #191
OK. I'll try to add a new callback to `OnItemDragEventListener` which can identify the distance of currently dragging item is moved.

[2016-02-13 02:45] h6ah4i commented on #191
@BlackAngel1991

I have just pushed the [`feature/add_on_item_drag_move_distance_callback`](https://github.com/h6ah4i/android-advancedrecyclerview/tree/feature/add_on_item_drag_move_distance_callback) branch. I added a new callback `onItemDragMoveDistanceUpdated` to `OnItemDragEventListener`.

Its ready to use through JitPack now! Please modify your `build.gradle` file to use the new feature. Than

[2016-02-13 05:21] BlackAngel1991 commented on #191
ty @h6ah4i. that's exactly what i needed, again you are awesome.

[2016-02-13 06:20] h6ah4i commented on #191
Yes. This feature will be merged into the main branch.

[2016-02-15 10:03] juniorJaffa commented on #184
Gradle version: **2.8**
Version of Gradle Plugin for Android (): **1.5.0**
Android Build Tools version: **23.0.2**
compileSdkVersion: **API 23: Android 6.0 (Marshmallow)**
Dump of ./gradlew app:dependencies:
_junior:android-studio $ cd .gradle/
junior:.gradle $ ls -la
total 0
drwxr-xr-x   5 junior  staff  170 Feb  2 20:29 .
drwxr-xr-x  15 junior  staff  510 Feb  2 20:38 ..
drwxr-xr-x   3 junior  s

[2016-02-15 15:49] h6ah4i commented on #184
@juniorJaffa Thanks. But I still cannot reproduce the same issue though. I guess the `NoClassDefFoundError` occurs **only on release build**, is it right? If so, I also need your `proguard-rules.pro` file to continue to investigate the issue.

My experiment AS project is here: https://github.com/h6ah4i/AdvancedRecyclerViewIssue184

[2016-02-16 13:16] krtec commented on #188
Yes, thanks you so much, when i used this code, i got error java.lang.IllegalStateException: adapter is not set properly but i add

mRecyclerView.setAdapter(mWrappedAdapter);

and now is perfects, thanks you so much. Jakub :)

[2016-02-19 10:24] champion32 opened #192 "RecyclerViewDragDropManager:onItemClickListener cannot get touch event while draging"
In my adapter ,i set a View.OnClickListener on child view.It's availability while RecyclerViewDragDropManager.setInitiateOnLongPress(false).
But after RecyclerViewDragDropManager.setInitiateOnLongPress(true),above View.OnClickListener is invalid.
Any method except Override RecyclerViewDragDropManager#onInterceptTouchEvent to resolve this problem?
thank you very much

[2016-02-19 10:40] champion32 commented on #192
I want to Override RecyclerViewDragDropManager#onInterceptTouchEvent to resolve this problem,but method onInterceptTouchEvent cannot be Override.I have no any idea now.

[2016-02-19 11:14] champion32 commented on #192
RecyclerViewDragDropManager.setLongPressTimeout(time);
change a bigger time resolve this problem

[2016-02-19 11:14] #192 closed

[2016-02-21 02:31] lkevin029 opened #193 "Scale Item while Dragging"
How to make the item bigger when dragging start?
this is my code.

            mRecyclerViewDragDropManager.setOnItemDragEventListener(new RecyclerViewDragDropManager.OnItemDragEventListener() {
            @Override
            public void onItemDragStarted(int position) {
                View v = mRecyclerView.getChildAt(position);
                ScaleAnimation animation = new ScaleAnimation(1,

[2016-02-21 14:29] h6ah4i commented on #193
Hi. Thanks for your suggestion, but that is difficult to implement `onItemDrag()` like events.

1. views and its holder objects will be recycled, so should not implement callback to holders
2. in generally, item views should be manipulated in `onBindViewHolder()` method only
3. dragging item is rendered as `RecyclerView.ItemDecoration`, so `ObjectAnimator` won't work

However, there is a way to im

[2016-02-22 01:55] lkevin029 commented on #193
thank you for your reply this was helpful..
I got one more question
I got a gridlayout recyclerview
numbers  = span

1  1   2   1 1

I can't drag the 2 in the corner its on purpose or it is a bug ?
lets just say 2 span width is bigger than 1 so i can't drag it in the 1st element of the row and last element...
sorry for my english >,<

[2016-02-22 14:25] joeyps opened #194 "Is there any way to cancel long press detection while swiping a item"
I enabled long press dragging and swiping at the same time. When I started to swipe a item, it would also start to drag a item, so I could not swipe the item in the situation. I've tried to call RecyclerViewDragDropManager.cancelDrag when I started to swipe, but it would defer the cancel message, so it still did not work.

[2016-02-22 15:36] h6ah4i commented on #194
Hmm... that seems strange `cancelDrag` should work in such case.

[code]

Please check the following repository for more details.

https://github.com/h6ah4i/Phoenix/tree/advrecyclerview_integration_demo

[2016-02-23 01:50] joeyps commented on #194
It seems that I misused the function. I called cancelDrag after DraggableItemAdapter.onSwipeItem. Now I use the implementation above, it works pretty well.

Thank you very much, and thank you for this awesome lib :+1:

[2016-02-23 10:58] askerov opened #195 "Swipe vertical and horizontal at the same time."
Hi!
I have a custom layout manager which extends RecyclerView.LayoutManager. It's not scrollable in any direction, it's just contain items which placed one over another with some offset.

Could you provide ability to swipe vertical and horizontal at the same time for such case?

Thanks!

[2016-02-23 11:28] h6ah4i commented on #194
:+1: :smile:

[2016-02-23 11:28] #194 closed

[2016-02-23 12:34] nilesh211 opened #196 "OnClick of Expandable null pointer exception"
02-23 18:01:36.599 16278-16278/ E/AndroidRuntime: FATAL EXCEPTION: main
                                                                     java.lang.NullPointerException
                                                                         at android.support.v7.widget.SimpleItemAnimator.animateChange(SimpleItemAnimator.java:130)

[2016-02-23 13:29] nilesh211 commented on #196
Following is my build gradle-
`
    compileSdkVersion 23
    buildToolsVersion "23.0.2"
    defaultConfig {
        applicationId "com.xxx.xxx"
        minSdkVersion 16
        targetSdkVersion 23
        versionCode 1
        versionName "1.0.10"
        signingConfig signingConfigs.config
    }

dependencies {
    compile fileTree(include: ['*.jar'], dir: 'libs')
    compile 'com.mcxiaoke.volley

[2016-02-23 21:08] shobayr opened #197 "How to unpin pinned Groups and Childs when back is pressed"
Hi ,
Is it possible when press back button ,if there is pinned item , all pinned items swipe back and become unpinned (normal state) ?

[2016-02-23 21:13] shobayr opened #198 "How to refuse to have two pinned items at the same time"
Hi,
Is it possible when we pin a child if another child in that group is pinned it swipe back in normal state and just the new one become pinned ?

[2016-02-27 05:17] h6ah4i commented on #197
Hi. That is easy, try the following code.

[code]

[2016-02-27 05:26] h6ah4i commented on #198
Hi. That is possible, try the following code.

[code]

[2016-02-27 15:23] h6ah4i commented on #193
@lkevin029 Thanks for pointing it out. I have just fixed the behavior for GridLayoutManager. Try the patched version of the library via jitpack.

#### build.gradle
[code]
branch: https://github.com/h6ah4i/android-advancedrecyclerview/tree/feature/issue_193_improve_grid_layout_drag

[2016-02-27 17:08] h6ah4i commented on #195
Hi. Thanks for a feature request. However, I think that is not proper to add such feature into this library b ecause it is difficult to generalize the behavior of customized LayoutManager :disappointed:

[2016-02-27 17:24] h6ah4i commented on #196
Hi. It looks your adapter does not implement `getGroupId()` and `getChildId()` methods properly. These methods need to return **unique** and **stable** values. Also, do not forget calling `setHasStableIds(true)` in the constructor of your adapter.

---

- `getGroupId()`
  - stable and unique value within all groups, less than or equal to `2^31 - 1`
- `getChildId()`
  - stable and unique value with

[2016-02-28 09:47] nafuto opened #199 "[HELP] Swipe animation not like example"
I'm using swipe on recyclerview. I set `holder.setSwipeItemHorizontalSlideAmount(0)` at `onBindViewHolder` but animation not like example. If not set `holder.setSwipeItemHorizontalSlideAmount(0)`, item view doesn't remove. Here is my video that shows problem:
[Youtube Link](https://youtu.be/DkS0wAPf0-8)
Please help me :'(
よろしくお願いします。

[2016-02-28 11:02] h6ah4i commented on #199
Hi. It seems that your adapter does not implement `getItemId()` method properly.

[code]

related issues:
- Help!! #180
- Swipe state not working properly #170
- swiping on any item only moves index 1 #159
- Unnecessary animation on drag #83
- Position Changing Between List Item #22
- Issues with stable ids #7
- Repeated animation problem #5

[2016-02-28 11:54] nafuto commented on #199
本当に助かりました。ありがとうございます。

[2016-02-28 11:57] #199 closed

[2016-03-01 14:32] manuel-sejourne commented on #190
It is ok.

I needed to add this when I changed the adapter :

 if (recyclerViewExpandableItemManager != null) {
            recyclerViewExpandableItemManager.release();
            recyclerViewExpandableItemManager = null;
       }

[2016-03-01 14:32] #190 closed

[2016-03-01 19:04] rmarau opened #200 "Collapse groups while dragging"
Hi

When dragging a group, I'm trying to force closing all groups just before dragging.
It's visually unpleasant having the group to cross the childs one by one.
So far I can `collapseAll` in onCheckGroupCanStartDrag, but the user looses the initial dragging gesture.  collapseAll cancels the ongoing drag.

Is there a way to have this prettier?

[code]

[2016-03-02 09:27] BilalSiddiqui opened #201 "animator.setSupportsChangeAnimations not accessible in buildToolsVersion '23.0.2'"
After changing targetSdkVersion 23 and  buildToolsVersion '23.0.2', setSupportsChangeAnimations not accessible.
Problem also addressed here.
http://android-developers.blogspot.com/2015/10/android-support-library-231.html

[2016-03-02 15:10] jhavatar opened #202 "NullPointerException when expanding some/most items using support library v23.2.0"
Hi

After I updated from support lib v23.1.1 & advrecyclerview v0.8.1 to support library v23.2.0 using either advrecyclerview v0.8.1 or v0.8.6 --- when I expand some items in my Advanced RecyclerView I get a NullPointerException:

[code]

Any ideas?

[2016-03-02 15:42] h6ah4i commented on #201
@BilalSiddiqui Hi. I think Advanced RecyclerView v0.8.2+ (latest: 0.8.6) is already compatible with support library v23.1.0. Which version of this library do you use?

[2016-03-02 15:52] h6ah4i commented on #202
@jhavatar Hi. Thank you for your issue report.

Could you try the latest develop branch code through JitPack? I have already updated the support library to v23.2.0 in this branch, but it is not fully tested yet.

[code]

[2016-03-02 19:44] jhavatar commented on #202
Hi @h6ah4i
Tried it and still get the same results/exception.

[2016-03-02 22:28] wandering7man commented on #188
Hi,i have 2 questions.
Ii have recyclerview with expanded recycler view and:
1) how can i update my data in list? sample above don't help me, I got exception;(
2) how can i keep state of opened/closed headers after list was updated(maybe only childs, or some headers, e.t.c)?it possible?
Thank you.

[2016-03-02 23:28] crazymajax commented on #164
I had the same error and the solution for me was to no longer specify my own ids.
So I removed the following lines of code and it started working again:

[code]
and all of this:
[code]

[2016-03-03 00:54] h6ah4i commented on #188
@wandering7man Hi.

Hi. I have recently got a same question via email and I created a demo code how to refresh items in expandable list.

Please clone, build and run the example app of the following branch. Reset, shuffle and clear buttons will be added to the "Expandable" demo.

Branch: https://github.com/h6ah4i/android-advancedrecyclerview/compare/demo_update_expandable
Commit: ["Add reset/shuff

[2016-03-03 00:56] h6ah4i commented on #202
@jhavatar Thanks, I am going to investigate this issue on this weekend.

[2016-03-03 05:21] h6ah4i commented on #164
@crazymajax Hi. This library need stable IDs. Without stable and unique ID values, unintended item animations and crashes will be caused.

[code]

related issues:
- Help!! #180
- Swipe state not working properly #170
- swiping on any item only moves index 1 #159
- Unnecessary animation on drag #83
- Position Changing Between List Item #22
- Issues with stable ids #7
- Repeated animation problem #5

[2016-03-03 06:42] Nominalista opened #203 "How to download only swipeable with gradle?"
Your awesome library is quite big, and with known issue of 65k methods it's hard to using it. Is it possible to download only part of your library? I mean e.g. only swipeable part?

[2016-03-03 07:55] livotov commented on #203
Turn on multidex support to get rid of 65K limit. Sooner or later your project will reach this limit anyway.

Also, if you're using google services, try including per-service deps instead of all-in-one dependency - this will greatly decrease method count in your app, so instead of

[code]

you can write something like this (remove the unused services)

[code]

[2016-03-03 12:00] wandering7man commented on #188
@h6ah4i, wow thank you, you saved my day :+1:

[2016-03-03 15:27] Nominalista commented on #203
I know that, and I am using only packages which I use. And really multidex is not what I want. Look at google i/o application - it's optimizing proguard, but it has huge number of dependencies.

[2016-03-04 01:51] h6ah4i commented on #203
@Nominalista Hi. This library has about 1200 methods. Is it too much for you?

Matybe, it is possible to shrink to 550 .. 700 methods if swiping feature only. I guess making library divided per function increases managing cost, so I do not have a plan to do this for now.

<img src="https://cloud.githubusercontent.com/assets/2552365/13515505/3b296978-e1f5-11e5-861e-610f0ed25451.png" width="350" />

[2016-03-04 07:36] Nominalista commented on #203
Thank you for your time and response. I left library with 1200 methods.

[2016-03-04 07:36] #203 closed

[2016-03-05 15:52] h6ah4i commented on #202
@jhavatar
Unfortunately, it seems a bug of the RecyclerView v23.2.0 and it has already been reported to Google.

- [Issue 193958: NullPointerException: Attempt to read from field 'int android.support.v7.widget.RecyclerView$ItemAnimator$ItemHolderInfo.left' on a null object reference	](https://code.google.com/p/android/issues/detail?id=193958&colspec=ID%20Type%20Status%20Owner%20Summary%20Stars#mak

[2016-03-06 10:36] h6ah4i commented on #200
@rmarau Hi.

Thank you for your feature request. Today, I tried to implement the feature but I was not able to make it work as I expected... I have already gave up trying to solve the issue because it seems impossible to achieve. However I left this issue open until anyone can find the solution.

- my experimental branch: [experiment_issue_200](https://github.com/h6ah4i/android-advancedrecyclervie

[2016-03-06 14:04] h6ah4i commented on #202
memo.
- [StackOverflow - NullPointerException in dissapearence animation of RecyclerView from support v.23.2.0](http://stackoverflow.com/questions/35619022/nullpointerexception-in-dissapearence-animation-of-recyclerview-from-support-v-2)

[2016-03-06 18:13] iBobb commented on #24
I really just want to be able to use the Swipeable stuff on my RecyclerView with backgrounds depending on left/right swipe and I see the library does that but looking at the samples I can't do anything. I see lots of questions and that's due to the poor documentation I believe. Please make at least 1-2 step by step tutorials. I have no idea what those get(position).getId(); method should do in my

[2016-03-07 08:07] jhavatar commented on #202
thanks @h6ah4i, I will skip v23.2.0 then.

[2016-03-09 05:18] nilesh211 commented on #196
Thanks .. Appreciated your response... In my Adapter setHasStableIds(true) was set, and i have implemented getGroupId() and getChildID()

@Override
    public long getGroupId(int groupPosition) {
        return mProvider.getGroupItem(groupPosition).getGroupId();
    }

    @Override
    public long getChildId(int groupPosition, int childPosition) {
        return mProvider.getChildItem(groupPositi

[2016-03-09 17:02] AnkitShetgaonkar commented on #150
Hi, I have a similar issue, If the child contains more than 8 items then rest items are repeated content.

[2016-03-10 11:44] obraz opened #204 "swipe direction"
How can I identify swipe direction at any time?
Thanks

[2016-03-11 09:46] xgear-public commented on #202
@h6ah4i looks like google fixed issue you mentioned in 23.2.1 support lib release

[2016-03-11 13:32] jhavatar commented on #202
Thanks for heads-up @h6ah4i,  23.2.1 support lib with advrecyclerview:0.8.6 works with zero problems. You can close this issue.

[2016-03-12 08:21] h6ah4i commented on #202
@jhavatar @xgear-public : Thank you for your information :wink:

[2016-03-12 08:21] #202 closed

[2016-03-12 08:30] h6ah4i commented on #204
Hi. Maybe `AbstractSwipeableItemViewHolder.onSlideAmountUpdated()` method can be used.

[code]

This method is mainly called during swiping. The first and second parameters can be used to determine swipe direction.

Please refer the usage in demo app by the following link. Thanks.

- https://github.com/h6ah4i/android-advancedrecyclerview/blob/58e2780cc0efc5dccb4a607919f634e8c327df0d/example/src/ma

[2016-03-12 08:31] h6ah4i commented on #201
@BilalSiddiqui Any progress on this issue?

[2016-03-14 01:04] ibcurly opened #205 "How can I use a flexible space collapsing toolbar with this?"
I am trying to use a draggable and expandable list with this library with a flexible space collapsing toolbar as an action bar at the top. I am able to with normal recycler views, but with this custom one which uses a relative layout in the xml, it looks very strange. Such as the top fragment covering the flexible space of the toolbar, and not scrolling correctly.

I am sorry if I have not explain

[2016-03-15 10:44] BilalSiddiqui commented on #201
Working fine after update.Thanks

[2016-03-16 04:04] #201 closed

[2016-03-16 09:51] tarunism opened #206 "Drag n Drop on Samsung S5 and Moto G"
For long recycler list, Drag and drop are not working on Samsung S5 and Moto G.
I have recently upgraded lib to 0.8.6 let me know if any new change has to be added.

[2016-03-16 11:50] h6ah4i commented on #206
@tarunium Hi. Could you upload a sample project which can reproduce the same issue?

[2016-03-16 13:51] h6ah4i commented on #205
@ibcurly Hi. I have just made a minimum example app which uses flexible-space-header with expandable RecyclerView. Please check the following repo :)

https://github.com/h6ah4i/FlexibleSpaceHeaderWithAdvancedRecyclerView

[2016-03-16 18:35] ibcurly commented on #205
Thank you!

[2016-03-19 07:09] tarunism commented on #206
Hi,

Sorry it was my mistake. On said devices hitTest was not getting performed because of some checks.
Now Its working fine.

Thanks.

[2016-03-19 07:09] #206 closed

[2016-03-19 17:45] iBobb opened #207 "Swipeable RecyclerView Tutorial"
I think one of the most attractive things about this library is the swipeable feature with icons below the RecyclerView item allowing to take action, as we've seen them on Google apps. I have never seen a tutorial online on this library and it is really hard to implement its features.

Does anyone know of a tutorial on the Swipeable features? I tried following the guide that the author wrote but i

[2016-03-21 05:04] thomascouto opened #208 "Implementation"
Hello,

I`m currently using Content Provider in my project.
Do I need to use AbstractDataProvider in parallel ?

Thanks in advance.

[2016-03-21 05:10] #208 closed

[2016-03-21 06:20] waikchiu5 opened #209 "NoSuchMethodError???"
I followed the demo_d folder and tried to test the Drag and drop example.
I cannot not run the application. I can compile successfully on Android Studio. When i upload to the mobile device. The application will force close immediately.
The error is here:
[https://codeshare.io/VDYW6](https://codeshare.io/VDYW6)

Only 3 java in my Test application:
MyItem class:
[https://codeshare.io/27VxM](https://

[2016-03-21 06:27] waikchiu5 commented on #209
is the animator problem?
When i declare :
`final GeneralItemAnimator animator = new RefactoredDefaultItemAnimator();`

It will show

So , i comment this line and
`mRecyclerView.setItemAnimator(animator);`

and declare as
`mRecyclerView.getItemAnimator().setSupportsChangeAnimations(false);`

However, logcat will display NoSuchMethodError

[2016-03-21 10:52] kssujithcj opened #210 "expandableItemManager.notifyItemChanged not updating view in expandable listview"
Hi,

Thank you for very cool and stable library.
I am using this library in my App. I am using expandable recyclerview(demo_e example) in one of my fragments. Issue I have is,
1. I get data every half a second and I have to update corresponding item view. I tried expandablemanager and adapter to call notifyItemchanged method but both are not working(not updating recyclerview).
2. In another fragme

[2016-03-21 14:19] waikchiu5 commented on #25
@tunjid Thanks for your simple demo code.
RecyclerView must declare in Fragment??

i follow the example code. However, the application cannot work fine....
[https://github.com/h6ah4i/android-advancedrecyclerview/issues/209](https://github.com/h6ah4i/android-advancedrecyclerview/issues/209)

[2016-03-21 14:36] h6ah4i commented on #209
@waikchiu5 Hi. Which version of `com.android.support:recyclerview-v7` do you use? It seems a version mismatch of `Advanced RecyclerView` with support library.

[2016-03-21 14:39] waikchiu5 commented on #209
@h6ah4i Thank you for your reply
I use this these two version
`compile 'com.android.support:recyclerview-v7:22.2.0'
    compile 'com.h6ah4i.android.widget.advrecyclerview:advrecyclerview:0.8.6@aar'`

[2016-03-21 14:51] h6ah4i commented on #209
@waikchiu5 Okay. Here is a summary of compatibility info with support library.

| `com.android.support:recyclerview-v7` | Advanced RecyclerView |
|---|---|
| v22.x | up to **v0.8.1** |
| v23.0.x | up to **v0.8.1** |
| v23.1.x | up to **v0.8.6** |
| v23.2.0 | not recommended; #202 |
| **v23.2.1** (latest: March 21, 2016) | up to **v0.8.6** |

ref.) https://github.com/h6ah4i/android-advancedrecycler

[2016-03-21 14:56] waikchiu5 commented on #209
@h6ah4i
Oh!I forgot check the version of RecyclerView!
Sorry for my stupid question.

[2016-03-26 10:43] h6ah4i commented on #210
Hi.

It seems that you have already reached to the answer yourself. **Need to share the same list instance between in fragment and in adapter**.

Then call one of these method most appropriate in your situation.

- Invalidate all items
  - `RecyclerView.Adapter.notifyDataSetChanged()`
- Invalidate one group item
  - `RecyclerViewExpandableItemManager.notifyGroupItemChanged(int groupPosition)`
- In

[2016-03-27 01:12] #209 closed

[2016-03-27 01:15] h6ah4i commented on #191
@BlackAngel1991 Hi. I have just released v0.8.7 and it includes OnItemDragEventListener support. Thanks.

[2016-03-27 01:15] #191 closed

[2016-03-27 01:18] h6ah4i commented on #193
@lkevin029 The `feature/issue_193_improve_grid_layout_drag` branch has been merged into master branch now and released as v.0.8.7. Thanks.

[2016-03-27 02:00] h6ah4i commented on #207
Hi. Have you took a look at my examples code? The "Swipeable (basic)" example shows how to implement Google's Inbox app like behavior. Thanks.

- [Implementation of "Swipeable (basic)" example](
https://github.com/h6ah4i/android-advancedrecyclerview/blob/95cb06fa3f5d339ecb60cf67b406e97e949e1da0/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_s_basic/)

---

### How to change

[2016-03-28 18:59] adnanebrahimi opened #216 "Using AdvancedRecyclerView in SmartTabLayout"
Hi,

i need to implement AdvancedRecyclerView in ViewPager, unfortunately  it's just view one AdvancedRecyclerView at all

this is ViewPager Project: https://github.com/ogaclejapan/SmartTabLayout

Thank You.

P.S: i have changed AdvancedRecylcerView to Fragment for getting ability to use in ViewPager

[2016-03-29 00:06] h6ah4i commented on #216
Hi. Have you checked the implementation of  "Swipeable with ViewPager " demo? It uses two Advanced RecyclerViews inside a ViewPager.

https://github.com/h6ah4i/android-advancedrecyclerview/tree/master/example/src/main/java/com/h6ah4i/android/example/advrecyclerview/demo_s_viewpager

[2016-03-29 06:12] adnanebrahimi commented on #216
Lol no i didn't see that.  Thank you  very much for your quick response :)

[2016-03-29 11:33] thanhsontube opened #217 "Expand ChildView : how can to change the textview color."
I can not change the color of ChildView of Expand Recycler view.
Is there anyway to do it? setTextColor does not work.

` @Override
    public void onBindChildViewHolder(final MyChildViewHolder holder, int groupPosition, int childPosition, int viewType)
    {
        // group item

        holder.mName.setText(dish.getName());
        holder.mName.setTextColor(Color.RED);`

[2016-03-29 11:38] thanhsontube commented on #217
Sorry, I got a mistake.

[2016-03-29 11:38] #217 closed

[2016-03-30 14:23] shobayr opened #218 "Using Expandable list instead of swipeable in viewpager"
Hi dear ;
Many thanks from your great library and your support ;
I want to use  Expandable list instead of swipeable in viewpager that you have used in your example
can you help me how to that ?

[2016-03-30 17:53] kuffs opened #219 "Works with StaggeredGridLayoutManager?"
Can't see anything that says it does or does not work.

Would appreciate confirmation so I don't spend days trying to get it to work if it simply is not possible.

Dragging seems to currently work, it just won't drop.

Thank you.

[2016-03-30 20:43] dGorod commented on #197
@h6ah4i thanks for the code example. Am I right that I can use pretty similar approach but for vertical scrolling start? When use start scroll list I should close all pinned items.

[2016-03-31 15:05] h6ah4i commented on #218
Hi. Sorry, I do not have a plan to add such demo into the examples app. Because I think that combination does not have any difficulties and can easily be implemented by almost of Android developers.

---

Now, I recommend you to refer these codes and combine them yourself. Let's try!

(1) Have you checked the implementation of the launcher screen of the bundled demo app? It is a very simple demo i

[2016-03-31 15:14] h6ah4i commented on #219
Hi. Thank you for good question.
This library does not support drag&drop feature for now, but I guess that feature can be implemented because Google's Keep app implement it based on RecyclerView (maybe). I will try it on this weekend.

[2016-03-31 18:17] robertbaker commented on #167
@h6ah4i is this done?

[2016-03-31 23:59] h6ah4i commented on #167
@robertbaker Sorry, not yet .

[2016-04-03 03:37] h6ah4i commented on #219
Hi @kuffs. I have just pushed an experimental branch which supports StaggeredGridLayoutManager.

- https://github.com/h6ah4i/android-advancedrecyclerview/tree/feature/support_staggered_grid_drag_drop

<img src="https://cloud.githubusercontent.com/assets/2552365/14230554/406b7cfe-f998-11e5-8cb7-b703ac28cf57.png" width="150" />

---

You can try the latest library through JitPack:

[code]

[2016-04-03 07:44] kuffs commented on #219
I'll give that a try. Thank you.

[2016-04-04 07:54] AruLNadhaN opened #220 "Can't get position in OnClickListener ?"
I am using Draggable & Swipeable RecyclerView in my App. I can't get the position of the item in Onclick. Do you have any examples for it.

This is my current Implementation. Currently i am hardcoding the position value.

[code]

[2016-04-04 08:35] usergoodvery opened #221 "expandable list scrollable?"
Hi,
Is it feasible to make the expandable list scrollable?

[2016-04-04 11:37] ArunPandiyan opened #222 "How to implement Expandable + Draggable + Swipeable in horizontal ScrollView"
I tried to it in horizontal mode by changing layout manager to Horizontal. But the child views animating from left to right. What i need is to have parent which animates down for child? How can i do that? Thanks a lot for library like this. Awesome.

[2016-04-04 12:43] lkevin029 opened #223 "Can I drag item in just a specific location??"
Can I drag item in just a specific location??
example
i have
1 2 3 4 5
6

1 can only drag in 6 and will not animate while dragging like 2 1 3 4 5  . . .      2 3 4 5 1

just
2 3 4 5 6
1

is this possible ?

[2016-04-04 15:55] h6ah4i commented on #220
Hi. This library does not provide a special way to handling click events, but you can use `RecyclerView.getChildAdapterPosition()`.

ref.) http://developer.android.com/reference/android/support/v7/widget/RecyclerView.html#getChildAdapterPosition(android.view.View)

[2016-04-04 15:58] h6ah4i commented on #223
Hi. Sorry this library does not support such behavior. I guess implementing such behavior with RecyclerView is difficult :(

[2016-04-04 16:01] h6ah4i commented on #221
Hi. Sorry I do not understand what you mean... I think expandable list is already scrollable itself.

[2016-04-04 16:07] h6ah4i commented on #222
Hi. Unfortunately this library does not support such behavior and I do not have any ideas how to achiave that :(

[2016-04-04 16:32] AruLNadhaN commented on #220
Does any of your examples handle on click events? So that i can follow them.

[2016-04-04 17:00] lkevin029 commented on #223
there is a library this scenario is possible but its impelemented in  IOS  Swift not in android >.<
 https://github.com/ra1028/RAReorderableLayout
this method do the work
optional func collectionView(collectionView: UICollectionView, atIndexPath: NSIndexPath, canMoveToIndexPath: NSIndexPath) -> Bool

[2016-04-05 00:30] h6ah4i commented on #223
Thanks for your info, it helps me a lot :) I found out how to achieve the same behavior. I am going to update the develop branch after I go back to home today.

---
MEMO:

Look at the line 1394 of the RecyclerViewDragDropManager. If the `checkInRange()` method returns `false`, swapping will not be occurred. I will add a little bit modification to make library users can implement more flexible cont

[2016-04-05 01:02] h6ah4i commented on #220
Hi. I do not include simple click event handling in most of demos, because adding more lines of code make sample code more complicated.

I found a good article how to handle item click in RecyclerView.
- [RecyclerView Part 3: Android RecyclerView OnClick](https://codentrick.com/recyclerview-example-part-3-android-recyclerview-onclicklistener/)

---

FYI: This library have a helper class to handle

[2016-04-05 05:28] ArunPandiyan commented on #222
Anyway Thanks h6ah4i(seriously no name to thank) ;)

[2016-04-05 05:28] #222 closed

[2016-04-05 11:09] nilesh211 opened #224 "Get GroupViewHolder based on child position"
Hi There,

How do i get the parent/groupviewholder based on the groupposition.

Guidance will be appreciated!!

Thanks

[2016-04-05 22:09] usergoodvery commented on #221
Hi
I meant the individual items within an expandable list. Can they be made to scroll independent of the containing parent list.

[2016-04-06 07:16] lujianzhi opened #225 "EditText can not show my except text"
I add edittext in my all child items ,and when i am scrolling these items, i found my edittext's text was losing their position.I add edittext into your demo,it happens again,is it a bug?
for example:
 childposition:0     edittext:"hello"
 childposition:1     edittext:"world"
after my scroll,it comes to
 childposition:0     edittext:"hello"
 childposition:1     edittext:"hello"
or
 childposition:0

[2016-04-06 07:16] lujianzhi opened #226 "EditText can not show my expect text"
I add edittext in my all child items ,and when i am scrolling these items, i found my edittext's text was losing their position.I add edittext into your demo,it happens again,is it a bug?
for example:
 childposition:0     edittext:"hello"
 childposition:1     edittext:"world"
after my scroll,it comes to
 childposition:0     edittext:"hello"
 childposition:1     edittext:"hello"
or
 childposition:0

[2016-04-06 07:18] #225 closed

[2016-04-06 14:54] h6ah4i commented on #226
Hi. That comes from RecyclerView's mechanism (not a bug of RecyclerView or this library). Each item views are recycled if they go out of the screen, and collected views will be re-used for newly visible items. It happens when you scroll the RecyclerView. That is why you did see duplicate "hello" items and item position swappings.

What you have to do is save EditText's state in the [`onViewRecycle

[2016-04-06 15:00] h6ah4i commented on #224
@nilesh211 Hi. Try the following code snippet :wink:

[code]

[2016-04-07 02:13] lujianzhi commented on #226
But my Button's text don't change.I set Button's text just like EditText's.On their Listeners,I put the new value into a "PersonBeen"(JavaBeen) by setButtonStr() method and setEditStr() method.And in onBindChildViewHolder(),I put value into Button and EdtiText by getButtonStr() and getEditStr().Only EditTexts change...
I am a new coder,your library is excellent,so my problem maybe silly...

[2016-04-08 04:44] lkevin029 commented on #223
Thx a lot

[2016-04-10 11:24] h6ah4i commented on #223
Hi @lkevin029, I have just pushed a new branch which includes new `onCheckCanDrop()` method.
https://github.com/h6ah4i/android-advancedrecyclerview/tree/feature/support_check_can_drop_callback

#### How to use the new feature

1. Call `RecyclerViewDragDropManager.setCheckCanDropEnabled(true)`

[code]
  :point_right:  [`Actual usage in demo app`](https://github.com/h6ah4i/android-advancedrecyclervi

[2016-04-11 05:57] lujianzhi commented on #226
I had found way to solve this problem.

[2016-04-11 05:57] #226 closed

[2016-04-13 12:45] kate26 commented on #121
04-13 12:44:37.782 6845-6845/com.bwangroup.christprofil E/dalvikvm: Could not find class 'com.h6ah4i.android.widget.advrecyclerview.swipeable.RecyclerViewSwipeManager$1', referenced from method com.h6ah4i.android.widget.advrecyclerview.swipeable.RecyclerViewSwipeManager.<init>
04-13 12:44:37.782 6845-6845/com.bwangroup.christprofil W/dalvikvm: VFY: unable to resolve new-instance 9264 (Lcom/h6ah4i/

[2016-04-13 12:45] kate26 commented on #121
please help me

[2016-04-13 12:58] vorsichtdiekurve commented on #121
Looks like this issue could be related to multidex. Do you have multidex support enabled in your project?

[2016-04-13 14:21] theaircrasher opened #228 "Expand group only performed after scrolling."
I have a class that extends `AbstractExpandableItemAdapter`. When clicking on a group item the corresponding child item is not expanded though `ExpandableRecyclerViewWrapperAdapter.expandGroup(groupPosition, true);` is called. As soon as the list is scrolled (either manually or via `RecyclerViewExpandableItemManager.scrollToGroup(int groupPosition, int childItemHeight, int topMargin, int bottomMar

[2016-04-13 23:46] iBobb opened #229 "RecyclerViewSwipeManager crash"
I checked the code for it and I always get the exception here if I start swiping an item and I move my finger not at least 90% accurately left right. So maybe if I move it up a little as well or if I just return the item to its original position, sometimes I get this exception and the app restarts itself:

the IllegalStateException

   private static void verifyAfterReaction(int result, int afterR

[2016-04-14 07:12] kssujithcj commented on #210
Thank you for the reply. I am using same object which I pass to adapter in fragment. I think it has to do something with my code. I will take a look at it.
For now, I am modifying data object in adapter directly from fragment using adapter object and call notify method as mentioned above.

[2016-04-14 10:19] lkevin029 commented on #223
thank you for this  👍

[2016-04-15 09:50] pqtuan86 opened #230 "Not allow drag action on specific item"
Hi,
Is there a way to lock (not allow to drag) a specific item on grid layout? That specific item just receive the onclick event.

Any guidance will be appreciated!
Thanks a lot!